<span class="scene-view-placeholder"></span>
<span class="playback-controls-placeholder"></span>

<div class="energy-symbols-checkbox-panel">
    <input type="checkbox" id="energy-systems-energy-symbols-checkbox" class="energy-symbols-checkbox">
    <label for="energy-systems-energy-symbols-checkbox">
        Show Energy
        <%= Assets.createIcon(Assets.Images.E_THERM_BLANK_ORANGE, { 'class': 'energy-symbol' }, 23) %>
    </label>
</div>

<div class="energy-symbols-legend">
    <% _.each(energySymbols, function(energySymbol) { %>
        <label class="energy-symbols-legend-label">
            <%= energySymbol.label %>
            <%= Assets.createIcon(energySymbol.src, { 'class': 'energy-symbol' }, 23) %>
        </label>
    <% }); %>
</div>

<div class="energy-system-elements-row">
<% var numElements = _.flatten(_.values(elementGroups)).length; %>
<% _.each(elementGroups, function(elements) { %>
    <div class="energy-system-elements-panel-wrapper" style="width: <%= Math.floor((elements.length / numElements) * 100) %>%">
        <div class="energy-system-elements-panel">
        <% _.each(elements, function(element) { %>
            <%= Assets.createIcon(element.src, { 
                    'class': 'element-icon', 
                    'data-cid': element.cid, 
                    'data-type': element.type 
                }, 36) %>
        <% }); %>
        </div>
    </div>
<% }); %>
</div>