<span class="scene-view-placeholder"></span>
<span class="playback-controls-placeholder"></span>

<div class="energy-symbols-checkbox-panel">
    <input type="checkbox" id="intro-energy-symbols-checkbox" class="energy-symbols-checkbox">
    <label for="intro-energy-symbols-checkbox">Energy Symbols 
        <div class="energy-symbol" style="background-image: url(<%= Assets.Image(Assets.Images.E_THERM_BLANK_ORANGE) %>); width: 22px; height: 22px; line-height: 22px; background-size: 100%"></div>
    </label>
</div>

<div class="energy-system-elements-row">
<% var numElements = _.flatten(_.values(elementGroups)).length; %>
<% _.each(elementGroups, function(elements) { %>
    <div class="energy-system-elements-panel-wrapper" style="width: <%= Math.floor((elements.length / numElements) * 100) %>%">
        <div class="energy-system-elements-panel">
        <% _.each(elements, function(element) { %>
            <%= Assets.createIcon(element.src, { 'class': 'energy-system-element-icon' }, 64) %>
        <% }); %>
        </div>
    </div>
<% }); %>
</div>