<span class="scene-view-placeholder"></span>
<span class="playback-controls-placeholder"></span>

<div class="energy-symbols-checkbox-panel">
    <input type="checkbox" id="intro-energy-symbols-checkbox" class="energy-symbols-checkbox">
    <label for="intro-energy-symbols-checkbox">Energy Symbols 
        <div class="energy-symbol" style="background-image: url(<%= Assets.Image(Assets.Images.E_THERM_BLANK_ORANGE) %>); width: 22px; height: 22px; line-height: 22px; background-size: 100%"></div>
    </label>
</div>