<div class="control-panel prism-break-controls-panel">
    <input type="radio" name="color-type" value="one" class="one" id="color-type-one" checked>
    <label for="color-type-one" class="color-type-one">One Color</label>
    <div class="wavelength-selection-wrapper">
        <label class="slider-header">Wavelength <span class="slider-value wavelength-value">400nm</span></label>
        
        <div class="wavelength-slider-wrapper"></div>
    </div>
    <input type="radio" name="color-type" value="white" class="white" id="color-type-white">
    <label for="color-type-white" class="color-type-white">White Light</label>

    <hr>

    <ul class="radios ray-count-options">
        <li>
            <input type="radio" name="ray-count" value="ray" class="ray" id="ray-count-single" checked>
            <label for="ray-count-single">Single Ray</label>
        </li>
        <li>
            <input type="radio" name="ray-count" value="wave" class="wave" id="ray-count-multiple">
            <label for="ray-count-multiple">Multiple Rays</label>
        </li>
    </ul>

    <hr>

    <ul class="checkboxes ray-count-options">
        <li>
            <input type="checkbox" id="show-reflections-check">
            <label for="show-reflections-check">Show Reflections</label>
        </li>
        <li>
            <input type="checkbox" id="show-normals-check">
            <label for="show-normals-check">Show Normals</label>
        </li>
        <li>
            <input type="checkbox" id="Show Protractor">
            <label for="Show Protractor">Show Protractor</label>
        </li>
    </ul>
</div>