@import "../../node_modules/bootstrap/less/variables.less"; // Bootstrap Variables
@import "../../node_modules/font-awesome/less/variables.less"; // Font-Awesome Variables
@import "../../../common/styles/variables.less";

@panel-top-margin: 21px;
@panel-side-margin: 20px;
@panel-width: 179px;
@panel-bg: rgba(240, 240, 240, 0.8);//rgba(237, 237, 237, 0.65); //@gray-lightest; // rgba(228, 228, 228, 0.5) if we want it to be the same color but half opacity

@scene-height: 600px;
@short-scene-height: 463px;