@import "mixins.less";
@import "variables.less";

.scene-view {
    width: 100%;
    height: @scene-height;

    #gradient.vertical(#a5def4; #73B0C8; 0%; 85%);

    @media screen and (max-height: @short-window) {
        height: @short-scene-height;
    }
}

.scene-view-ui {
	position: absolute;
	top: 0;
	left: 0;

	.connect-battery-btn,
	.disconnect-battery-btn {
		position: absolute;
		left: 20px;
		background-color: #78b04a;
		color: white;

		&:hover {
			color: #fff;
			background-color: darken(#78b04a, 5%);
		}

		&:active {
			background-color: darken(#78b04a, 8%);
		}
	}
}