@import "variables.less";
@import "mixins.less";

.sims .sim-content {
    min-height: initial;
}

.sim-controls-wrapper {
    position: absolute;
    right: @panel-margin;
    top: @panel-margin;

    @media screen and (max-height: @short-window) {
        right: (@short-screen-panel-margin + 1);
        top: @short-screen-panel-margin;
    }
}

.sim-controls {
    .panel();
    .user-select(none);
    padding: 15px;
    position: relative;
    margin-bottom: 12px;
    width: @sim-controls-panel-width;

    h2 {
        font-size: 16px;
        font-weight: 400;
        color: fadeout(#222, 35%);
        margin-top: 0;
        margin-bottom: 8px;
        padding-bottom: 4px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.09);

        @media screen and (max-height: @short-window) {
            margin-top: -2px;
            margin-bottom: 6px;
        }

        .expand-icon,
        .collapse-icon {
            display: none;
        }
    }

    h2:not(:first-child) {
        margin-top: 20px;

        @media screen and (max-height: @short-window) {
            margin-top: 14px;
        }
    }

    label {
        color: fadeout(#222, 20%);
    }

    ul.radios, ul.checkboxes {
        list-style: none;
        padding: 0;
        margin: 0;
        //margin-bottom: -12px;

        li {
            text-align: left;
            list-style-image: none;
            margin-bottom: 2px;

            label{
                font-weight: bold;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .dielectric-material-wrapper {
        margin-bottom: 10px;

        label {
            margin-top: 7px;
        }

        .dielectric-material.bootstrap-select {
            width: 120px !important;
            float: right;
        }
    }

    .bootstrap-select {
        background-color: transparent;
        border-color: transparent;

        > .btn {
            background: fadeout(#fff, 50%);
            border-color: fadeout(#000, 80%);

            &:focus {
                outline: none !important;
            }

            &:active {
                .box-shadow(none);
            }
        }

        &.open > .dropdown-toggle.btn-default {
            background: fadeout(#fff, 30%);
            border-color: #fff;
        }

        a {
            text-transform: capitalize;
        }

        a:focus {
            outline: none;
        }
    }

    .bootstrap-select.open > .btn {
        .box-shadow(none);
    }

    .slider-header {
        border-bottom: none;
        margin-bottom: -4px;
        font-weight: bold;

        .slider-value {
            float: right;
            font-weight: normal;
        }
    }

    .dielectric-constant-wrapper {
        margin-top: 16px;
        margin-bottom: 20px;
    }

}

.btn.panel-btn,
.panel-btn {
    .panel();
    margin-top: 0;
    margin-bottom: 0;
    padding: 8px 0;
    display: block;
    width: 100%;
    border-radius: 0;
    font-weight: bold;
    color: @link-color;

    &:focus {
        outline: none;
        color: @link-color;
    }

    &:hover {
        background: fadeout(#fff, 20%);
    }

    &:active {
        margin-top: 1px;
        margin-bottom: -1px;
        box-shadow: 0 -1px 11px rgba(0, 0, 0, 0.13);
        color: @link-color;
    }
}

.reset-btn {
    position: absolute;
    top: 100%;
    left: 0;
}

#sim-dielectric {
    .meters-panel {
        .collapsible-panel();
        height: 168px;
    }

    .dielectric-options {
        .collapsible-panel();
        height: 222px;
    }
}

#sim-multiple-capacitors {
    .meters-panel {
        .collapsible-panel();
        height: 168px;
    }

    .circuits-panel {
        .collapsible-panel();
        height: 212px;
    }
}