@import "variables.less";
@import "mixins.less";

.sims .sim-content {
    min-height: initial;
}

.sim-controls-wrapper {
    position: absolute;
    right: @panel-margin;
    top: @panel-margin;

    @media screen and (max-height: @short-window) {
        right: (@short-screen-panel-margin + 1);
        top: @short-screen-panel-margin;
    }
}

@media screen and (max-height: @short-window) {
    .sim-controls-wrapper {
        position: inherit;
        top: auto;
        right: auto;
    }

    .sim-controls-left {
        position: absolute;
        top: @short-screen-panel-margin;
        left: (@short-screen-panel-margin + 1);
    }

    .sim-controls-right {
        position: absolute;
        top: @short-screen-panel-margin;
        right: (@short-screen-panel-margin + 1);
    }
}

.sim-controls {
    .panel();
    padding: 15px;
    position: relative;
    margin-bottom: 4px;
    width: @sim-controls-panel-width;

    h2 {
        font-size: 16px;
        font-weight: 400;
        color: fadeout(#222, 35%);
        margin-top: 0;
        margin-bottom: 6px;
        padding-bottom: 2px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.09);

        @media screen and (max-height: @short-window) {
            margin-top: -2px;
            margin-bottom: 6px;
        }
    }

    h2:not(:first-child) {
        margin-top: 16px;

        @media screen and (max-height: @short-window) {
            margin-top: 14px;
        }
    }

    h3 {

    }

    label {
        color: #222;
    }

    ul.radio, ul.checkbox {
        list-style: none;
        padding: 0;
        margin: 0;
        margin-bottom: -2px;

        li {
            text-align: left;
            list-style-image: none;
            margin-top: -2px;

            @media screen and (max-height: @short-window) {
                margin-top: 0;
            }

            label {
                font-weight: bold;
            }
        }
    }

    .legend-symbol {
        margin-bottom: 4px;

        .symbol-icon {
            float: left;
            margin-right: 8px;
        }
    }

    .slider-label {
        margin-top: 10px;
        margin-bottom: 0;
    }

    .slider.amplitude-slider,
    .slider.frequency-slider {
        margin-top: 4px;
        margin-bottom: 6px;

        @media screen and (max-height: @short-window) {
            margin-top: 12px;
        }
    }

}