@import "../../node_modules/bootstrap/less/variables.less"; // Bootstrap Variables
@import "../../node_modules/font-awesome/less/variables.less"; // Font-Awesome Variables
@import "../../../common/styles/variables.less";

@panel-margin: 20px;

@scene-height: 656px;
@short-scene-height: 412px;
@short-screen-panel-margin: 12px;

@panel-margin: 20px;
@panel-bg: @gray-lightest;
@btn-bg: #ccc;
@btn-fg: @link-color;

@sim-controls-panel-width: 192px;