@import "../../node_modules/bootstrap/less/mixins/vendor-prefixes.less";
@import "../../../common/styles/variables.less";
@import "variables.less";
@import "mixins.less";

.sound-btn-wrapper {
    position: absolute;
    top: -36px;
    right: 30px;

    > .sound-btn {
        background: @gray-lightest;
        color: @link-color;
        outline: none;
        border: none;
        border-radius: 50%;
        width: 28px;
        height: 28px;
        text-align: center;

        &:hover {
            opacity: 0.9;
        }

        &:active {
            background: @link-color;
            color: #fff;
        }

        &.sound-btn-mute,
        &.sound-btn-low {
            display: none;
        }
    }
}

.playback-controls-wrapper {
    height: 62px;
    position: relative;
    margin-top: 5px;
    padding: 10px;
    background: @gray-lightest;
    text-align: center;
    .user-select(none);

    > .playback-buttons-wrapper {
        width: 200px;
        position: absolute;
        left: 50%;
        margin-left: -100px;

        > .playback-btn {
            display: inline-block;
            background: @btn-bg;
            color: @link-color;
            outline: none;
            border: none;
            border-radius: 50%;
            width: 28px;
            height: 28px;
            text-align: center;

            &:hover {
                opacity: 0.9;
            }

            &:active {
                background: @link-color;
                color: #fff;
            }

            &.pause-btn {
                display: none;
            }

            .sim-view.playing &.pause-btn {
                display: inline-block;
            }
            .sim-view.playing &.play-btn {
                display: none;
            }

            &.play-btn,
            &.pause-btn {
                width: 42px;
                height: 42px;
                font-size: 16px;
            }

            &.play-btn {
                padding-left: 10px;
            }
        }
    }

    .btn-normal {
        .button-variant(@link-color, @btn-bg, #fff, @link-color);
        margin: 5px 5px 0;
    }

    .reset-btn {
        float: left;
    }

    .start-game-btn {
        float: right;
        .button-variant(#fff, @brand-secondary, #fff, darken(@brand-secondary, 10%));
        margin: 5px 5px 0;
    }

    .time-wrapper,
    .collisions-wrapper {
        line-height: 32px;
        margin: 5px 20px;

        span {
            display: inline-block;
            text-align: right;
        }
    }

    .time-wrapper {
        float: right;

        span {
            width: 50px;
        }
    }

    .collisions-wrapper {
        float: left;

        span {
            width: 26px;
        }
    }

}