@import "../../node_modules/bootstrap/less/variables.less"; // Bootstrap Variables
@import "../../node_modules/font-awesome/less/variables.less"; // Font-Awesome Variables

@panel-margin: 20px;
@btn-bg: #ccc;
@btn-fg: @link-color;
@panel-bg: @gray-lightest;

@short-scene-height: 464px;
@short-control-bar-width: 564px;