@import "cross-section-slider.less";
@import "mixins/graph-view.less";

.heatmap-container {
	position: absolute;
	top: 20px;
	left: 0;
	.grid-view(heatmap, @heatmap-container-width, @heatmap-container-width, @heatmap-container-padding);

	@media (min-width: (@heatmap-container-width + @control-panel-width + @heatmap-container-left-margin)) {
		left: @heatmap-container-left-margin;

		.better & {
			left: 100px; // Width of oscillator object graphics?
		}
	}
}

#sim-water .heatmap-container .heatmap-canvas {
	background-color: #0D6A7C;
}