

.sound-volume-slider-wrapper {
	position: relative;

	> .sound-volume {
		width: 150px;
		margin: 12px auto;
	}

	> .fa {
		position: absolute;
		top: -8px;
		font-size: 18px;

		&.fa-volume-off {
			left: 10px;
			display: none;
		}

		&.fa-volume-down {
			left: 10px;
		}

		&.fa-volume-up {
			right: 6px;
		}
	}
}

