.sim-controls-panel{
    position: absolute;
    right: @panel-margin;
    top: @panel-margin;

    @media screen and (max-height: @short-window) {
        right: @short-screen-panel-margin;
        top: @short-screen-panel-margin;
    }
}


.sim-controls {

    .white-panel(@shadow-alpha: 0.13, @background-fade-percent: 60%);
    padding: 15px;
    position: relative;
    margin-bottom: 12px;
    width: @control-panel-expanded-width;

    > label {
        color: #555;
    }

    input.form-control {
        background: rgba(255, 255, 255, 0.27);
        border-color: rgba(0, 0, 0, 0.1);
        position: relative;

        // Just for Chrome--they're too far left by default
        &::-webkit-inner-spin-button, 
        &::-webkit-outer-spin-button {
            right: 4px;
            margin-top: 2px;
            position: absolute;
        }
    }

    h2 {
        margin-bottom: 15px;
        padding-bottom: 4px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.09);
        font-size: 20px;
        font-weight: 400;
        color: rgba(51, 51, 51, 0.8);
        margin-top: 0;
    }

    h5{
        margin: 0;
    }

    .bootstrap-select {
        background-color: transparent;
        border-color: transparent;

        > .btn {
            background: rgba(255, 255, 255, 0.27);
            border-color: rgba(0, 0, 0, 0.1);
            text-transform: capitalize;

            &:focus {
                outline: none !important;
            }

            &:active {
                .box-shadow(none);
            }
        }

        a {
            text-transform: capitalize;
        }

        a:focus {
            outline: none;
        }
    }

    .bootstrap-select.open > .btn {
        .box-shadow(none);
    }

    .control-group {
        .clearfix();
    }

    ul {
        list-style: none;
        padding: 5px;
        margin: 0;

        li {
            list-style-image: none;
        }
    }

    .slider {
        .noUi-base{
            z-index: 1;
            // sneaky padding to cover the labels a bit and extend the click-able area of the slider
            padding: 16px;
        }

        .noUi-pips{
            z-index: 0;
        }

        .noUi-value{
            color: @sim-controls-color;
            font-weight: bold;
        }

        &.noUi-background{
            background: @link-color;
        }
    }

    .discrete-slider-wrapper{
        padding: 0 7px 20px 7px;
        .clearfix();
    }

    .compact-list{
        li{
            float: left;
            width: 90px;
        }
    }
}

.sim-controls-column{
    display: inline-block;
    vertical-align: top;
    width: @control-panel-expanded-width;
    margin-left: 8px;

    .panel-tabs{
        position: absolute;
        bottom: -35px;
        margin: 0 -15px;

        > ul {
            margin: 0;
            padding: 0 0 0 30px;
            font-size: 0;
            list-style-type: none;
            color: @link-color;
            border-bottom: none;
            overflow: hidden;
            height: 36px;

            > li {
                display: inline-block;
                margin-right: 3px;
                margin-top: -5px;
                padding: 7px 8px;
                font-size: 1.4rem;
                background: transparent;
                cursor: pointer;
                .user-select(none);

                &:hover,
                &:visited,
                &:active,
                &:focus {
                    text-decoration: none;
                }

                &:hover{
                    background: fade(@sim-controls-graph-background, 95%);
                }

                &.active {
                    .white-panel(@shadow-alpha: 0.13, @background-fade-percent: 0%);
                    background: #FCFCFC;
                    color: @link-color;
                    font-weight: bold;

                    > .tab-title::after {
                        content: "\2212"; // &minus; (−)
                    }
                }

                > .tab-title {
                    margin-left: 2px;
                    vertical-align: middle;

                    &::after {
                        font-weight: bold;
                        margin-left: 5px;
                        vertical-align: top;
                        content: "+";
                    }
                }
            }
        }
    }
}

.energy-graphs{
    position: absolute;
    padding-top: 0;
    margin-top: 0;
}


ul.radio, ul.checkbox{
    list-style: none;
    padding: 5px;
    margin: 0;

    li {
        text-align: left;
        list-style-image: none;

        label{
            font-weight: bold;
        }
    }
}

.zoomer{
    text-align: center;
    padding-top: 0.5em;
    position: absolute;
    bottom: -64px;
    display: block;
    width: 100%;
    margin: 0 -15px;
}