.attribute{
    .bar{
        &.Q{
            background: @pale-red;
        }

        &.PEelas{
            background: @pale-aqua;
        }

        &.PEgrav{
            background: @pale-blue;
        }

        &.KE{
            background: @pale-yellow;
        }
    }
}
