@import "../../node_modules/bootstrap/less/variables.less"; // Bootstrap Variables
@import "../../node_modules/font-awesome/less/variables.less"; // Font-Awesome Variables
@import "../../../common/styles/variables.less";

@pale-red  : #e56a6a;
@pale-blue : #6aa8e5;
@pale-aqua : #6ae5a8;
@golden-yellow : #ffb400;

@panel-margin: 20px;
@panel-bg: fadeout(#fff, 70%);
@panel-fg: #bbb;
@panel-btn-bg: fadeout(#000, 46%);
@panel-btn-fg: #fff;
@short-screen-panel-margin: 13px;

@btn-bg: #ccc;

@sim-controls-color: #333;
@sim-controls-graph-background: #fff;
@sim-controls-border: #aaa;

@control-panel-expanded-width: 180px;
@control-panel-collapsed-width: 60px;

@scene-height: 620px;
@short-scene-height: 401px;