@import "../../node_modules/bootstrap/less/variables.less"; // Bootstrap Variables
@import "../../node_modules/font-awesome/less/variables.less"; // Font-Awesome Variables

@panel-margin: 20px;
@panel-bg: fadeout(#fff, 70%);
@panel-fg: #bbb;
@panel-btn-bg: fadeout(#000, 46%);
@panel-btn-fg: #fff;
@btn-bg: #ccc;

@sim-controls-color: #333;
@sim-controls-graph-background: #fff;

@control-panel-expanded-width: 180px;
@control-panel-collapsed-width: 60px;