<div class="playback-controls-wrapper">

    <div class="playback-center-buttons-wrapper">
        <button class="playback-btn play-btn"   title="Resume"><span class="fa fa-play"></span></button>
        <button class="playback-btn pause-btn"  title="Pause"><span class="fa fa-pause"></span></button>
        <button class="playback-btn step-btn"   title="Step"><span class="fa fa-step-forward"></span></button>
    </div>

    <div class="playback-speed-wrapper">
        <input type="radio" name="playback-speed" value="normal" id="playback-speed-normal" class="playback-speed" checked>
        <label for="playback-speed-normal">Normal</label>

        <input type="radio" name="playback-speed" value="playback" id="playback-speed-fast" class="playback-speed">
        <label for="playback-speed-fast">Fast Forward</label>
    </div>
    
    <button class="btn btn-normal reset-btn" title="Reset All">Reset All</button>
</div>