<ul class="nucleus-chooser">
<% _.each(items, function(item) { %>
    <li>
        <input type="radio" name="nucleus-chooser-<%= unique %>" value="<%= item.nucleusType %>" id="nucleus-<%= item.nucleusType %>-<%= unique %>" <% if (item.isDefault) { %>checked<% } %>>
        <label for="nucleus-<%= item.nucleusType %>-<%= unique %>">
            <div class="nucleus-chooser-start">
                <div class="nucleus-chooser-img-wrapper" style="width: <%= imageContainerWidth %>px">
                    <img src="<%= item.start.img %>" width="<%= item.start.width %>" height="<%= item.start.height %>">
                </div>
                <label><%= item.start.label %></label>
            </div>
            <div class="nucleus-chooser-end">
                <div class="nucleus-chooser-img-wrapper" style="width: <%= imageContainerWidth %>px">
                    <img src="<%= item.end.img %>" width="<%= item.end.width %>" height="<%= item.end.height %>">
                </div>
                <label><%= item.end.label %></label>
            </div>
        </label>
    </li>
<% }); %>
</ul>