
<span class="scene-view-placeholder"></span>

<div class="control-panel particle-panel">

    <h2>Particle</h2>

    <div class="control-group">
        <label for="charge" class="control-label">Charge</label>
        <div class="input-wrapper">
            <input type="number" class="form-control" id="charge" value="-1.0">
        </div>
    </div>

    <div class="control-group">
        <label for="mass" class="control-label">Mass</label>
        <div class="input-wrapper">
            <input type="number" min="0" class="form-control" id="mass" value="1.0">
        </div>
    </div>

    <div class="btns-wrapper">
	    <button class="btn btn-add"><span class="fa fa-plus-circle"></span> Add</button>
	    <button class="btn btn-remove"><span class="fa fa-minus-circle"></span> Remove</button>
	</div>
</div>