
<span class="scene-view-placeholder"></span>

<div class="sim-controls-column">
    <div class="sim-controls">
        <h2 class="slider-header">Frequency <span class="slider-value frequency-value">500 Hz</span></h2>
        <div class="slider frequency-slider"></div>

        <h2 class="slider-header">Amplitude <span class="slider-value amplitude-value"><%= simulation.get('amplitude').toFixed(2) %></span></h2>
        <div class="slider amplitude-slider"></div>

        <!-- More controls can be appended -->
    </div>
</div>