<figcaption class="detector-graph-title"><%= title %></figcaption>

<div class="detector-graph-canvas-wrapper">
	<canvas class="detector-graph-canvas"></canvas>
</div>

<div class="detector-graph-y">
	<label class="detector-graph-axis-label"><%= y.label %></label>
	<div class="detector-graph-y-numbers">
	<% var height = 100.0 / Math.ceil((y.end - y.start) / y.step); %>
	<% for (var j = y.end; j >= y.start; j -= y.step) { %>
		<div class="detector-graph-number" style="height: <%= height %>%"><span></span></div>
	<% } %>
	</div>
</div>

<div class="detector-graph-x">
	<label class="detector-graph-axis-label"><%= x.label %></label>
	<div class="detector-graph-x-numbers">
		<canvas class="detector-x-canvas"></canvas>
	</div>
</div>