<figure class="heatmap-container">

	<figcaption class="heatmap-title"><%= title %></figcaption>

	<canvas class="heatmap-canvas"></canvas>

	<div class="heatmap-y">
		<label class="heatmap-axis-label"><%= y.label %></label>
		<div class="heatmap-y-numbers">
		<% var height = 100.0 / Math.ceil((y.end - y.start) / y.step); %>
		<% for (var j = y.end; j >= y.start; j -= y.step) { %>
			<div class="heatmap-number" style="height: <%= height %>%"><span><%= j %></span></div>
		<% } %>
		</div>
	</div>

	<div class="heatmap-x">
		<label class="heatmap-axis-label"><%= x.label %></label>
		<div class="heatmap-x-numbers">
		<% var width = 100.0 / Math.ceil((x.end - x.start) / x.step); %>
		<% for (var i = x.start; i <= x.end; i += x.step) { %>
			<div class="heatmap-number" style="width: <%= width %>%"><span><%= i %></span></div>
		<% } %>
		</div>
	</div>

	<div class="cross-section-slider"></div>

	<div class="barrier-view" style="width: 116px;
height: 15px;
position: absolute;
background: rgba(255, 255, 255, 0.5);
border: 2px solid #FFF;
top: 40px;
left: 40px;
transform-origin: 8px 8px;
transform: translateX(26px) translateY(317px) rotateZ(-28deg);">
	<div style="width: 10px;
height: 10px;
border-radius: 50%;
background-color: #21366B;
float: left;"></div>
	<div style="width: 10px;
height: 10px;
border-radius: 50%;
background-color: #21366B;
float: right;"></div>
</div>

</figure>