<div class="control-panel">
	<div class="panel-tabs">

	</div>

	<div class="panel-content-wrapper">
		<form class="panel-content tools-panel">
			<fieldset class="panel-fieldset">
				This the tools panel
			</fieldset>
		</form>
		<form class="panel-content properties-panel">
			<fieldset class="panel-fieldset">
				This the properties panel
			</fieldset>
		</form>
	</div>
</div>


<div class="playback-controls-wrapper">
	<button class="playback-btn reset-btn"><span class="fa fa-undo"></span></button>
	<button class="playback-btn play-btn"><span class="fa fa-play"></span></button>
	<button class="playback-btn pause-btn"><span class="fa fa-pause"></span></button>
	<button class="playback-btn step-btn"><span class="fa fa-step-forward"></span></button>
</div>