@import "mixins.less";
@import "variables.less";

.scene-view {
    width: 100%;
    height: @scene-height;

    #gradient.vertical(#ccc; #fafafa; 0%; 85%);

    @media screen and (max-height: @short-window) {
        height: @short-scene-height;
    }
}

.options {
  width: 190px;
  float: left;
  transform: translate(100px, -593px);
  background-color: #b8b8b8;
  padding: 5px;

  input[type="checkbox"] { display: initial; }

  // lol.
  .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: 180px;
  }
}