
.control-panel {
	width: 100%;

	@media (min-width: @screen-sm-min) {
		width: 290px;
	}

	> .control-panel-tabs {
		width: 100%;
		background-color: @gray-lightest;
	}

	> .panel {
		width: 100%;
		background-color: @gray-lightest;
		margin-top: 2px;
	}
}