
.control-panel {
	z-index: @above-canvas;
	
	padding: 20px;
	width: 100%;

	@media (min-width: @screen-sm-min) {
		width: @control-panel-width;
		position: absolute;
		right: 0;
		top: 20px;
		margin: 0;
	}

	> .control-panel-tabs {
		width: 100%;
		background-color: @gray-lightest;

	}

	> .panel-content-wrapper {
		
		> .panel-content {
			display: block;

			.better & {
				display: none;

				&.active {
					display: block;
				}
			}

			
		}
	}

	.btn.panel-btn {
		color: @brand-primary;
		font-weight: bold;
		position: relative;
		border-radius: 0;

		&:hover {
			color: @brand-primary;
			opacity: 0.9;
		}

		&:active {
			color: #fff;
			background-color: @brand-primary;
			.box-shadow(none);
		}

		.animated-button(panel-btn-clicked);

		&:focus {
			outline: none;
		}
	}
}

.panel-fieldset,
.panel-btn {
	width: 100%;
	background-color: @gray-lightest;
	margin-top: 2px;
	padding: 16px;
	.user-select(none);
}

body:not(.better) .wave-properties {
	width: auto;
	min-width: 200px;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 20px;

	@media (min-width: @screen-sm-min) {
		width: auto;
		min-width: 200px;
		position: absolute;
		bottom: 60px;
		left: 0px;
		margin: 0;
	}
}

// For the tools/properties panel
// Should be identical to tabs found in ".media-tabs" in webview

.panel-tabs {
	display: none;
}

.better .panel-tabs {
	display: block;
	color: @brand-primary;
	background-color: @gray-lightest; 
	padding-top: 8px;

	> ul {
		margin: 0;
		padding: 0;
		text-align: center;
		font-size: 0;
		list-style-type: none;
		color: @link-color;

		> li {
			display: inline-block;
			padding: 7px 10px;
			margin-right: 3px;
			font-size: 1.5rem;
			background-color: white;
			cursor: pointer;
			.user-select(none);

			> .tab-title {
				margin-left: 2px;
				vertical-align: middle;

				.fa {
					margin-right: 5px;
					font-size: 1.6rem;
					vertical-align: middle;
				}

				&::after {
					font-weight: bold;
					margin-left: 5px;
					vertical-align: top;
					content: "+";
				}
			}

			&.active > .tab-title::after {
				content: "\2212"; // &minus; (−)
			}

			&:not(.active) {
				#gradient.vertical(#fff; #ededed; 60%; 100%);
			}
		}
	}

	> div {
		display: none;
		background-color: white;
	}
}

label {
	.transition(~"color 450ms ease");
}

label.slider-label {
	display: block;
}

label[disabled] {
	color: #B8B8B8;
}
