
.control-panel {
	width: 100%;
	z-index: @above-canvas;

	@media (min-width: @screen-sm-min) {
		width: 290px;
		position: absolute;
		right: 0;
		top: 20px;
	}

	> .control-panel-tabs {
		width: 100%;
		background-color: @gray-lightest;

	}

	> .panel-content-wrapper {
		
		> .panel-content {
			display: block;

			.better & {
				display: none;

				&.active {
					display: block;
				}
			}

			> .panel-fieldset {
				width: 100%;
				background-color: @gray-lightest;
				margin-top: 2px;
				padding: 16px;
			}
		}
	}
}