@import "cross-section-slider.less";
@import "mixins/graph-view.less";

.graph-container {
	position: absolute;
	top: (20 + @heatmap-container-width + 20);
	left: 0;
	.grid-view(graph, @heatmap-container-width, 200px, @heatmap-container-padding);

	@media (min-width: (@heatmap-container-width + @control-panel-width + @heatmap-container-left-margin)) {
		left: @heatmap-container-left-margin;

		.better & {
			left: 100px; // Width of oscillator object graphics?
		}
	}

	& .graph-canvas {
		background-color: #fff;
		.transition(~"border 0.2s ease");

		&.changing {
			border: 2px solid @link-color;
		}
	}
}