.heatmap-container.rotated {
	.transform-origin(100% 50%);
	.transform(translateX(-71px) perspective(500px) rotateY(-10deg));
	.transition(~"transform 400ms, -webkit-transform: 400ms");
}

.screen-graph-view {
	position: absolute;
	top: 20px;
	right: 0;

	> .screen-graph-show-button {
		position: absolute;
		top: 0;
		left: 0;
		width: @heatmap-container-width;

		.horizontal-panel-button();
		
		&.reenabled {
			.animation-name(graph-show-btn);
			.animation-duration(200ms);
			.animation-timing-function(ease);
			.animation-fill-mode(forwards);
		}

		.animated-button(graph-show-btn-clicked, 400ms);
	}

	> .screen-graph-hide-button {
		position: absolute;
		top: 3px;
		left: 73px;
		background: transparent;
		color: #888;
		display: none;
		z-index: 50;

		&:hover {
			color: #555;
		}

		&:active {
			color: #444;
			.box-shadow(none);
			text-shadow: 0 0 6px #ccc;
		}
	}

	> .screen-graph-show-chart-button {
		.horizontal-panel-button();
		display: none;
	}
}

.screen-graph-container {
	.grid-view(screen-graph, @screen-graph-width, @heatmap-container-width, @heatmap-container-padding);
	.transition(~"width 400ms, transform 400ms, -webkit-transform: 400ms");
	.transform-origin(0% 50%);
	.transform(translateX(42px) perspective(500px) rotateY(62deg));
	max-width: none;
	overflow: hidden;
	display: none;

	&.open {
		display: block;
	}

	> .screen-graph-canvas-wrapper > .screen-graph-canvas {
		background-color: #fff;
	}
}

.horizontal-panel-button() {
	height: @heatmap-container-padding;
	line-height: (@heatmap-container-padding + 2);
	font-weight: bold;
	padding: 0;
	background-color: @gray-lightest;
	color: @link-color;
	border-radius: 0;
	z-index: 50;
	.transform(~"rotate(-90deg) translateY(-175px)");
	.transform-origin(center center);

	&:hover {
		color: fadeout(@link-color, 15%);
		background-color: lighten(@gray-lightest, 0.5%);
	}

	&:active {
		color: #fff;
		background-color: @brand-primary;
		.box-shadow(none);
	}

	> .fa {
		margin-right: 10px;
	}
}

#sim-light .segment-view {
	background-color: #ccc;

	&.active {
		background: lighten(@link-color, 40%);
	}
}

#sim-light .barrier-view > .barrier-box {
	background-color: #CCC;
}