@import "/bower_components/bootstrap/less/mixins.less"; // Bootstrap Mixins

/* App Mixins */
@import "./mixins-app.less";

// HACK: Include Bootstrap clearfix class to support extending clearfix
.clearfix {
  .clearfix();
}

.transform(@transform) {
  -webkit-transform: @transform;
     -moz-transform: @transform;
      -ms-transform: @transform; // IE9 only
          transform: @transform;
}