@import "variables.less";
@import "mixins.less";

.content-area {
  position: relative;

  .scene-view {
    width: 100%;
    position: relative;
  }

  .sim-controls {
    background: @gray-lightest;
    position: absolute;
    width: 164px;
    top: 196px;
    right: 15px;
    padding: @panel-padding;

    p {
      text-align: center;
    }

    ul {
      list-style: none;
      padding: 5px;
      margin: 0;

      li {
        list-style-image: none;
      }
    }

    // h4 {
    //   color: @brand-primary;
    // }

    input[type="submit"] {
      display: block;
      margin: 0 auto;
      background: red;
      color: #FFFFFF;
      padding-bottom: 5px;
    }

    .show-sum-checkbox-wrapper {
      margin-top: 10px;
      margin-bottom: 0;
    }

    .show-grid-checkbox-wrapper {
      margin-top: 5px;
      margin-bottom: 0px;
    }

    .bootstrap-select {
        background-color: transparent;
        border-color: transparent;
        width: 100% !important;

        > .btn {
            .sim-controls-button();
            background: rgba(255, 255, 255, 0.6);
        }

        &.open > .dropdown-toggle.btn-default {
            background: fadeout(#fff, 30%);
            border-color: #fff;
        }

        a {
            text-transform: capitalize;
        }

        a:focus {
            outline: none;
        }
    }

    .bootstrap-select.open > .btn {
        .box-shadow(none);
    }
  }

  .sim-values {
    background: @gray-lightest;
    position: absolute;
    width: 674px;
    height: 59px;
    float: left;
    top: 16px;
    left: 91px;
    padding: 12px;

    input[type="text"] {
      float: right;
      width: 70%;
    }

    label {
      float: left;
      font-size: 20px;
    }

    .form-control[readonly] {
      background-color: #FFFFFF; /* Overwriting Bootstrap style */
    }

    .red {
      color: #FF0000;
    }

    .green {
      color: #76EE00;
    }

  }
}
