@import "../../node_modules/bootstrap/less/mixins/vendor-prefixes.less";
@import "../../../common/styles/variables.less";
@import "mixins.less";

.content-area {
  position: relative;

  .scene-view {
    width: 100%;
    position: absolute;
  }

  .sim-controls {
    background: @gray-lightest;
    position:relative;
    float: right;
    width:150px;
    top: 190px;
    right: 0;
    padding:10px;
    border: 3px solid @brand-primary;
    border-radius: 10px;
    -moz-border-radius: 10px;

    .row {
      margin: 0 0 5px 0;
      padding:3px;
      border-bottom: 1px solid @gray-medium;
    }

    p {
      text-align:center;
    }

    ul {
      list-style:none;
      padding: 5px;
      margin: 0;

      li {
        list-style-image: none;
      }
    }

    h4 {
      color: @brand-primary;
    }

    input[type="submit"] {
      margin-left:20px;
      background: red;
      color: #fff;
      padding-bottom: 5px;
    }
  }

  .sim-values {
    background: @gray-lightest;
    position: relative;
    width: 750px;
    height: 75px;
    float: left;
    top: 20px;
    left: 30px;
    padding: 15px;
    border: 3px solid @brand-primary;
    border-radius: 10px;
    -moz-border-radius: 10px;

    input[type="text"] {
      float: right;
      width: 70%;
    }

    label {
      float: left;
      font-size: 20px;
    }

  }
}
