@import "../../../common/styles/variables.less";

.content-area {
  position: relative;

  .scene-view {
    width: 100%;
    position: absolute;
  }

  .sim-controls {
    background: @gray-lightest;
    position: relative;
    float: right;
    width: 150px;
    top: 170px;
    right: 0;
    padding: 10px;

    .row {
      margin: 0 0 5px 0;
      padding: 3px;
      border-bottom: 1px solid @gray-medium;
    }

    p {
      text-align: center;
    }

    ul {
      list-style: none;
      padding: 5px;
      margin: 0;

      li {
        list-style-image: none;
      }
    }

    h4 {
      color: @brand-primary;
    }

    input[type="submit"] {
      margin-left: 20px;
      background: red;
      color: #FFFFFF;
      padding-bottom: 5px;
    }
  }

  .sim-values {
    background: @gray-lightest;
    position: relative;
    width: 675px;
    height: 65px;
    float: left;
    top: 20px;
    left: 100px;
    padding: 12px;

    input[type="text"] {
      float: right;
      width: 70%;
    }

    label {
      float: left;
      font-size: 20px;
    }

    .form-control[readonly] {
      background-color: #FFFFFF; /* Overwriting Bootstrap style */
    }

  }
}
