@import "../../node_modules/bootstrap/less/mixins/gradients.less";
@import "variables.less";
@import "mixins.less";

.scene-view {
    width: 100%;
   	height: @scene-height;

    #gradient.vertical(rgba(255,255,255,0.46); rgba(255,255,255,0.72); 0%; 100%);

    @media screen and (max-height: @short-window) {
        height: @short-scene-height;
    }
}

.btn.return-lid-btn {
	position: absolute;
	margin-left: -45px;
	background-color: #78b04a;
	color: white;
	display: none;

	&:hover {
		color: #fff;
		background-color: darken(#78b04a, 5%);
	}
}