@import "../../node_modules/bootstrap/less/mixins/vendor-prefixes.less";
@import "../../../common/styles/variables.less";
@import "variables.less";
@import "mixins.less";

.hello-world {
    position: absolute;
    top: 44%;
    width: 100%;
    text-align: center;
    font-size: 26px;
}