<div class="playback-controls-wrapper">
    <div class="playback-center-buttons-wrapper">
        <button class="playback-btn play-btn"   title="Resume"><span class="fa fa-play"></span></button>
        <button class="playback-btn pause-btn"  title="Pause"><span class="fa fa-pause"></span></button>
        <button class="playback-btn step-btn"   title="Step forward"><span class="fa fa-step-forward"></span></button>
    </div>

    <div class="show-labels-check-wrapper">
        <input type="checkbox" class="show-labels-check" id="show-labels-check-<%= unique %>" checked>
        <label for="show-labels-check-<%= unique %>">Show Labels</label>
    </div>
    
    <button class="btn btn-normal reset-btn" title="Reset All">Reset All</button>
</div>