<div class="sim-settings">
    <div class="help-btn-wrapper">
        <button class="help-btn" title="Help" data-toggle="modal" data-target="#help-dialog"><span class="fa fa-question"></span></button>
    </div>
</div>

<span class="scene-view-placeholder"></span>

<div class="sim-controls-wrapper">
    <div class="sim-controls-left">
        <div class="sim-controls legend-panel">
            <h2>Legend</h2>
        </div>
    </div>
    <div class="sim-controls-right">
        <div class="sim-controls alpha-particle-properties-panel">

    </div>
</div>