
<span class="scene-view-placeholder"></span>

<div class="sim-controls-wrapper">
    <div class="sim-controls-left">
        
    </div>
    <div class="sim-controls-right">
        <div class="sim-controls atomic-model-panel">
            <h2>Atomic Model</h2>

            <ul class="radios">
                <li>
                    <input type="radio" name="model-mode" value="experiment" id="model-mode-experiment" checked>
                    <label for="model-mode-experiment">Experiment<br>
                        <span class="radio-subtitle">(what really happens)</span>
                    </label>
                </li>
                <li>
                    <input type="radio" name="model-mode" value="prediction" id="model-mode-prediction">
                    <label for="model-mode-prediction">Prediction<br>
                        <span class="radio-subtitle">(what the model predicts)</span>
                    </label>
                </li>
            </ul>

            <div class="prediction-models">
                <div class="prediction-model-spectrum">
                    <span class="prediction-model-spectrum-classical">Classical...</span>
                    <span class="prediction-model-spectrum-quantum">...Quantum</span>
                </div>
            <% _.each(atomicModels, function(model, key) { %>
                <div class="prediction-model-wrapper <% if (model === selectedAtomicModel) { %>active<% } %>" data-model-key="<%= key %>">
                    <%= Assets.createIcon(model.icon, iconSize) %>
                    <label><%= model.label %></label>
                </div>
            <% }); %>
            </div>
        </div>
    </div>
</div>

<div class="sim-controls light-controls">
    <h2>Light Controls</h2>

    <ul class="radios light-mode-radios">
        <li>
            <input type="radio" name="light-mode" value="white" id="light-mode-white" checked>
            <label for="light-mode-white">White</label>
        </li>
        <li>
            <input type="radio" name="light-mode" value="monochrome" id="light-mode-monochrome">
            <label for="light-mode-monochrome">Monochromatic</label>
        </li>
    </ul>

    <div class="wavelength-slider-container">
        <label class="slider-header">Wavelength <span class="slider-value wavelength-value">400nm</span></label>
        <div class="wavelength-slider-wrapper">
            <div class="uv-label">UV</div>
        </div>

        <div class="show-absorption-wavelengths-wrapper">
            <input type="checkbox" class="show-absorption-wavelengths-check" id="show-absorption-wavelengths-check">
            <label for="show-absorption-wavelengths-check">Show absorption wavelengths</label>
        </div>
    </div>
</div>

<div class="sim-controls energy-level-diagram-panel tall-title">
    <h2>
        Electron Energy Level Diagram
        <span class="expand-icon"><span class="fa fa-chevron-down"></span></span>
        <span class="collapse-icon"><span class="fa fa-chevron-up"></span></span>
    </h2>
</div>

<div class="legend-panel">
    <h2>Legend</h2>
</div>

<div class="sim-controls spectrometer-panel">
    <h2>
        Spectrometer - Photons Emitted / Nm
        <span class="expand-icon"><span class="fa fa-chevron-down"></span></span>
        <span class="collapse-icon"><span class="fa fa-chevron-up"></span></span>
    </h2>
</div>