
<div class="sim-settings">
    <div class="sound-btn-wrapper">
        <button class="sound-btn sound-btn-mute" title="Mute effect volume (click to raise)"><span class="fa fa-volume-off"></span></button>
        <button class="sound-btn sound-btn-low"  title="Low effect volume (click to raise)"><span class="fa fa-volume-down"></span></button>
        <button class="sound-btn sound-btn-high" title="High effect volume (click to mute)"><span class="fa fa-volume-up"></span></button>
    </div>

    <div class="help-btn-wrapper">
        <button class="help-btn" title="Help" data-toggle="modal" data-target="#help-dialog"><span class="fa fa-question"></span></button>
    </div>
</div>

<div class="scene-view-placeholder"></div>

<div class="sim-controls">

    <h2>Gravity</h2>
    <div class="control-group">
        <div class="gravity-settings-placeholder"></div>
    </div>


</div>


<div class="playback-controls-wrapper">
    <button class="playback-btn play-btn"   title="Resume"><span class="fa fa-play"></span></button>
    <button class="playback-btn pause-btn"  title="Pause"><span class="fa fa-pause"></span></button>

    <div class="playback-speed-wrapper">
        <div class="slider playback-speed"></div>
    </div>

    <button class="btn btn-normal reset-btn" title="Reset All">Reset All</button>
</div>