<div class="playback-controls-wrapper">
	
	<div class="playback-speed-wrapper">
		<label>Slow</label><div class="slider playback-speed"></div><label>Fast</label>
	</div>

	<div class="playback-center-buttons-wrapper">
	    <button class="playback-btn rewind-btn" title="Rewind to beginning"><span class="fa fa-fast-backward"></span></button>
	    <button class="playback-btn play-btn"   title="Resume"><span class="fa fa-play"></span></button>
	    <button class="playback-btn pause-btn"  title="Pause"><span class="fa fa-pause"></span></button>
	    <button class="playback-btn step-btn"   title="Step forward"><span class="fa fa-step-forward"></span></button>
	</div>

	<button class="btn btn-normal clear-btn" title="Clear time counter"><span class="fa fa-history"></span> Clear</button>
	<div class="time-counter">
		0 Earth Days
	</div>
	
	<button class="btn btn-normal reset-btn" title="Reset All">Reset All</button>
</div>