<span class="scene-view-placeholder"></span>
<span class="properties-panel-placeholder"></span>
<span class="playback-controls-placeholder"></span>

<div class="body-settings-container">

</div>

<div class="body-configuration-wrapper">
    <label>Body Configuration:</label><br>
    <select id="body-configuration" class="form-control">
        <option>Select configration</option>
    <% _.each(configurationKeys, function(configurationKey, index) { %>
        <option value="<%= index %>"><%= configurationKey %></option>
    <% }); %>
    </select>
</div>

<div class="zoom-controls">
    <button class="btn btn-zoom-in"><span class="fa fa-search"><span class="fa fa-plus"></span></span></button>
    <button class="btn btn-zoom-out"><span class="fa fa-search"><span class="fa fa-minus"></span></span></button>
</div>