.initial-settings {
    position: absolute;
    top: @panel-margin;
    left: @panel-margin;
    color: fadeout(#fff, 14%);
    .user-select(none);

    @media screen and (max-height: @short-window) {
        position: relative;
        left: initial;
        top: initial;
        margin-top: @short-screen-panel-margin;
    }

    &.disabled {
        opacity: 0.5;

        &:after {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }
    }

    table {
        border-collapse: separate;
        border-spacing: 2px;

        th {
            text-align: center;
        }

        td:first-child {
            padding-right: 6px;
        }

        .add-body-row {
            .user-select(none);
        }

        .add-body-row > td {
            text-align: center;

            @media screen and (max-height: @short-window) {
                text-align: left;
            }
        }

        .remove-body-column {
            @media screen and (max-height: @short-window) {
                position: relative;

                .remove-body-btn {
                    position: absolute;
                    right: 10px;
                    top: 22px;
                    width: 110px;

                    span {
                        float: right;
                    }

                    .button-text {
                        display: inline;
                    }

                    .fa {
                        margin-top: 3px;
                        margin-left: 6px;
                    }
                }
            }
        }

        .remove-body-btn,
        .add-body-btn {
            background: transparent;
            border: none;
            opacity: 0.7;
            padding: 0;
            margin-left: 6px;

            &:hover {
                opacity: 1;
            }

            &:focus {
                outline: none;
                color: inherit;
            }

            &:active {
                //margin-top: 1px;
            }
        }

        .remove-body-btn {
            > .button-text {
                display: none;
            }

            &:hover > .button-text {
                display: inline;
            }
        }
    }

    input[type="number"]::-webkit-inner-spin-button, 
    input[type="number"]::-webkit-outer-spin-button {
        display: none;
    }
    
    input[type="number"] {
        -moz-appearance:textfield;
    }

    input {
        width: 48px;
        height: auto;
        padding: 0px 5px;
        border: 1px solid rgba(0, 0, 0, 0.22);
        color: #000;
        text-align: right;

        @media screen and (max-height: @short-window) {
            font-size: 13px;
            width: 36px;
            padding: 0px 3px;
        }

        &.mass {
            width: 71px;

            @media screen and (max-height: @short-window) {
                width: 64px;
            }
        }
    }
}

.preset-wrapper {
    position: absolute;
    left: 383px;
    top: @panel-margin;
    color: fadeout(#fff, 14%);

    @media screen and (max-height: @short-window) {
        position: relative;
        left: initial;
        top: initial;
        margin-top: @short-screen-panel-margin;
    }

    .bootstrap-select {
        background-color: transparent;
        border-color: transparent;

        > .btn {
            background: fadeout(#fff, 60%);
            border-color: rgba(0, 0, 0, 0.1);
            //color: #fff;

            &:focus {
                outline: none !important;
            }

            &:active {
                .box-shadow(none);
            }
        }

        a {
            //text-transform: capitalize;
        }

        a:focus {
            outline: none;
        }
    }
}