@import "mixins.less";
@import "variables.less";
@import "../../node_modules/bootstrap/less/mixins/gradients.less";

.scene-view {
    width: 100%;
    height: @scene-height;

    #gradient.vertical(#21366b; #0A0F1D ; 0%; 95%);

    @media screen and (max-height: @short-window) {
        height: @short-scene-height;
    }
}