@import "../../node_modules/bootstrap/less/mixins/vendor-prefixes.less";
@import "../../../common/styles/variables.less";

@import "variables.less";
@import "mixins.less";

@import "help.less";
@import "view-options.less";
@import "playback-controls.less";
@import "initial-settings.less";

.sim-view {
	min-height: 620px;
}

#sim-my-solar-system.sim-content {
    min-height: 620px;
}

#sim-my-solar-system input[type="radio"] + label:before, 
#sim-my-solar-system input[type="checkbox"] + label:before {
    background: rgba(255, 255, 255, 0.18);
}

#sim-my-solar-system .measuring-tape-view {

	> .measuring-tape {
		border-color: @gray-lightest;

		> .measuring-tape-handle {

			&:before {
				border-color: @gray-lightest;
			}

			&:after {
				border-color: @gray-lightest;
			}
		}
	}

	> .measuring-tape-label {
		.animation-name(none);
	}
	
}

.zoom-controls {
    position: absolute;
    bottom: 82px;
    right: 20px;

    color: #fff;
}