@import "../../node_modules/bootstrap/less/variables.less"; // Bootstrap Variables
@import "../../node_modules/font-awesome/less/variables.less"; // Font-Awesome Variables
@import "../../../common/styles/variables.less";

@link-color: #111;

@panel-margin: 20px;
@panel-bg: fadeout(#fff, 70%);
@panel-fg: #bbb;
@panel-btn-bg: fadeout(#000, 46%);
@panel-btn-fg: #fff;
@short-screen-panel-margin: 12px;

@scene-height: 620px;
@short-scene-height: 463px;