.view-options {
    .white-panel(@shadow-alpha: 0.13, @background-fade-percent: 60%);
    position: absolute;
    top: @panel-margin;
    right: @panel-margin;
    padding: 15px;
    .user-select(none);
}