@import "mixins.less";
@import "variables.less";

.scene-view {
    width: 100%;
    height: @scene-height;

    #gradient.vertical-three-colors(#4a4969; #7072ab; 50%; #cd82a0);

    @media screen and (max-height: @short-window) {
        height: @short-scene-height;
    }
}