@import "../../node_modules/bootstrap/less/mixins/vendor-prefixes.less";
@import "variables.less";
@import "mixins.less";

.beam-controls {
    width: auto;
    position: absolute;

    &.laser-1 {
        top: 408px;
        left: @panel-margin;
    }
    
    &.laser-2 {
        right: (12px + @panel-width + @panel-margin);
        top: @panel-margin;
    }

    @media screen and (max-height: @short-window) {
        &.laser-1 {
            left: @short-screen-panel-margin + @energy-levels-panel-width + @short-screen-panel-margin;;
            top: @short-screen-panel-margin;
        }
        
        &.laser-2 {
            right: (@short-screen-panel-margin + @panel-width + @short-screen-panel-margin);
            top: @short-screen-panel-margin;
        }
    }

    .intensity-slider-wrapper {
        padding-left: 8px;
        padding-right: 8px;
    }

    .wavelength-slider-wrapper {
        position: relative;

        .wavelength-slider {
            width: 120px;
        }
    }
}