@import "mixins.less";
@import "variables.less";

.scene-view {
    width: 100%;
    height: @scene-height;

    #gradient.vertical(#fff; #f5f5f5; 0%; 100%);

    @media screen and (max-height: @short-window) {
        height: @short-scene-height;
    }
}