@import "../../node_modules/bootstrap/less/variables.less"; // Bootstrap Variables
@import "../../node_modules/font-awesome/less/variables.less"; // Font-Awesome Variables
@import "../../../common/styles/variables.less";

@panel-margin: 20px;
@panel-padding: 15px;
@panel-bg: fadeout(#f0f0f0, 20%);
@btn-bg: #ccc;
@btn-fg: @link-color;

@control-panel-width: 200px;

@scene-height: 580px;
@short-scene-height: 412px;
@short-screen-panel-margin: 12px;

@sim-controls-panel-width: 180px;