@import "../../node_modules/bootstrap/less/variables.less"; // Bootstrap Variables
@import "../../node_modules/font-awesome/less/variables.less"; // Font-Awesome Variables
@import "../../../common/styles/variables.less";

@btn-bg: #ccc;
@btn-fg: @link-color;

@panel-margin: 20px;
@short-screen-panel-margin: 12px;

@panel-bg: fadeout(#f5f5f5, 25%);
@panel-fg: @btn-fg;
@panel-btn-bg: @btn-bg;
@panel-btn-fg: @btn-fg;
@panel-width: 190px;
@playback-controls-bg: @gray-lightest;
@energy-levels-panel-width: 300px;

@scene-height: 580px;
@short-scene-height: 412px;