<span class="scene-view-placeholder"></span>

<div class="sim-controls-wrapper">
	<div class="sim-controls visual-options">
		<h2>Visual Options</h2>

		<select class="rays">
			<option>No rays</option>
			<option>Marginal rays</option>
			<option>Principal rays</option>
			<option>Many rays</option>
		</select>
		<br>

		<input type="checkbox" class="show-guides-check" id="show-guides-check">
		<label for="show-guides-check">Show Guides</label>
		<br>

		<input type="checkbox" class="screen-check" id="screen-check">
		<label for="screen-check">Screen</label>
		<br>

		<input type="checkbox" class="second-point-check" id="second-point-check">
		<label for="second-point-check">2<sup>nd</sup> Point</label>
		<br>

		<input type="checkbox" class="ruler-check" id="ruler-check">
		<label for="ruler-check">Screen</label>
		<br>

		<button class="btn change-object-btn">Change Object</button>
	</div>

	<div class="sim-controls lens-properties">
		<h2>Lens Properties</h2>


	</div>
</div>