@import "../../node_modules/bootstrap/less/mixins/vendor-prefixes.less";
@import "variables.less";
@import "mixins.less";

.settings-btn-wrapper {
    position: absolute;
    top: 0;
    right: 30px;

    > .settings-btn {
        background: @gray-lightest;
        color: @link-color;
        outline: none;
        border: none;
        border-radius: 50%;
        width: 28px;
        height: 28px;
        text-align: center;

        &:hover {
            opacity: 0.9;
        }

        &:active {
            background: @link-color;
            color: #fff;
        }
    }
}

#settings-dialog {
    .modal-header {
        border-color: #dfdfdf;
    }

    .modal-body {
        background: @gray-lightest;
        padding: 40px 60px;
        .user-select(none);

        label {
            margin-bottom: 0;
        }

        .slider {
            background: #aaa;

            .ticks {
                position: absolute;
                top: 1px;
                left: 0;
                width: 100%;
                pointer-events: none; // We don't want to block clicking on the bar

                .tick {
                    position: absolute;
                    top: -2px;
                    width: 4px;
                    height: 4px;
                    margin-left: -1px;
                    background: #aaa;
                    border-radius: 50%;

                    &:first-child,
                    &:last-child {
                        width: 8px;
                        height: 8px;
                        margin-left: -3px;
                        top: -4px;

                        .label {
                            margin-left: -6px;
                            top: 11px;
                        }
                    }

                    .label {
                        display: block;
                        position: absolute;
                        top: 9px;
                        margin-left: -9px;
                        width: 20px;
                        text-align: center;
                        padding: 0;
                        color: #aaa;
                    }
                }
            }
        }

        .slider-value {
            font-weight: normal;
        }
    }

    .modal-footer {
        border-color: #dfdfdf;
    }
} 
