@import "../../node_modules/bootstrap/less/variables.less"; // Bootstrap Variables
@import "../../node_modules/font-awesome/less/variables.less"; // Font-Awesome Variables
@import "../../../common/styles/variables.less";

@panel-margin: 20px;
@panel-bg: @gray-lightest;
@short-screen-panel-margin: 12px;
@sim-controls-panel-width: 220px;

@btn-bg: #ccc;
@btn-fg: @link-color;

// @btn-bg: fadeout(@link-color, 86%);
// @btn-fg: @link-color;

@scene-height: 620px;
@short-scene-height: 463px;