@import "variables.less";
@import "mixins.less";

body {
    .user-select(none);
}

.sims .sim-content {
    min-height: inherit;
}

.sim-controls-column {
	position: absolute;
	right: @panel-margin;
	top: @panel-margin;

    @media screen and (max-height: @short-window) {
        left: @panel-margin;
        right: inherit;
    }
}

.sim-controls {
    background: @panel-bg;
    padding: 15px;
    position: relative;
    margin-bottom: 12px;
    width: @control-panel-width;

    input.form-control {
        background: rgba(255, 255, 255, 0.27);
        border-color: rgba(0, 0, 0, 0.1);
        position: relative;

        // Just for Chrome--they're too far left by default
        &::-webkit-inner-spin-button, 
        &::-webkit-outer-spin-button {
            right: 4px;
            margin-top: 2px;
            position: absolute;
        }
    }

    h2 {
        font-size: 16px;
        font-weight: 400;
        color: rgba(51, 51, 51, 0.8);
        margin-top: 0;
        margin-bottom: 7px;
        padding-bottom: 4px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.09);
    }

    h2:not(:first-child) {
    	margin-top: 14px;
    }

    ul.radio, ul.checkbox {
        list-style: none;
        padding: 0;
        margin: 0;

        &:last-child {
            margin-bottom: -2px;
        }

        li {
            text-align: left;
            list-style-image: none;

            label{
                font-weight: bold;
            }
        }
    }
}