@import "variables.less";
@import "mixins.less";

.prisms-panel {
    width: @prisms-panel-width;
    height: @prisms-panel-height;
    position: absolute;
    left: @panel-margin;
    bottom: @panel-margin;

    .prisms-wrapper {
        h2 {
            width: (@prisms-panel-width - @medium-control-panel-width - 3 * @panel-margin);
        }
    }

    .medium-controls-wrapper {
        position: absolute;
        right: @panel-padding;
        top: @panel-padding;
    }
}