@import "variables.less";
@import "mixins.less";

.prism-break-controls-panel {
    position: absolute;
    right: @panel-margin;
    top: 172px;

    .color-type-one {
        margin-bottom: 4px;
    }

    .color-type-white {
        margin-bottom: 0px;
    }

    .slider-header {
        font-weight: normal;
    }

    .wavelength-selection-wrapper.disabled {
        opacity: 0.4;
    }

    hr {
        margin-top: 12px;
        margin-bottom: 12px;
    }
}