@import "variables.less";
@import "mixins.less";

.sims .sim-content {
    min-height: inherit;
}

.control-panel {
    background: @panel-bg;
    padding: @panel-padding;
    .user-select(none);

    input.form-control {
        background: rgba(255, 255, 255, 0.27);
        border-color: rgba(0, 0, 0, 0.1);
        position: relative;
    }

    h2 {
        .header();
        padding-bottom: 4px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.09);
    }

    h2:not(:first-child) {
        margin-top: 18px;
    }

    .bootstrap-select {
        background-color: transparent;
        border-color: transparent;

        > .btn {
            background: rgba(255, 255, 255, 0.5);
            border-color: rgba(0, 0, 0, 0.14);
            text-transform: capitalize;

            &:focus {
                outline: none !important;
            }

            &:active {
                .box-shadow(none);
            }
        }

        a {
            text-transform: capitalize;
        }

        a:focus {
            outline: none;
        }
    }

    .bootstrap-select.open > .btn {
        .box-shadow(none);
    }
}

.medium-controls-panel {
    width: @medium-control-panel-width;

    &.medium-top,
    &.medium-bottom {
        position: absolute;
        right: @panel-margin;
    }

    &.medium-top {
        bottom: 50%;
        margin-bottom: (@panel-margin + 3);
    }

    &.medium-bottom {
        top: 50%;
        margin-top: (@panel-margin - 3);
    }

    .material-select-wrapper {
        position: relative;
        margin-top: 10px;
        margin-bottom: 14px;

        .select-label {
            text-align: right;
        }

        .select-wrapper {
            position: absolute;
            right: 0;
            top: -7px;

            > .select {
                width: 160px !important;
            }
        }
    }

    .mystery {
        display: none;
        text-align: center;
        margin-top: 22px;
    }
    
    .index-of-refraction-value {
        float: right;
        font-weight: normal;
    }

    .slider-header {
        display: block;
    }

    .slider-wrapper {
        position: relative;

        .index-of-refraction-slider {
            margin-bottom: 20px;
            margin-left: 10px;
            margin-right: 10px;
            background: fadeout(@link-color, 70%);
        }

        label {
            position: absolute;
            top: 4px;
            font-weight: normal;
            color: fadeout(@link-color, 50%);

            &.air-label   { left:   2px; }
            &.water-label { left: 119px; }
            &.glass-label { left: 184px; }

            &:after {
                content: '';
                display: block;
                position: absolute;
                top: -2px;
                left: 50%;
                width: 1px;
                height: 4px;
                border-left: 2px solid fadeout(@link-color, 70%)
            }
        }
    }
}