@import "../../node_modules/bootstrap/less/variables.less"; // Bootstrap Variables
@import "../../node_modules/font-awesome/less/variables.less"; // Font-Awesome Variables
@import "../../../common/styles/variables.less";

@btn-bg: fadeout(@link-color, 80%);
@btn-fg: @link-color;

@panel-margin: 20px;
@panel-padding: 15px;
@panel-bg: fadeout(#fff, 70%);
@panel-fg: fadeout(#fff, 32%);
@panel-fg-solid: #C8C9CC;
@panel-slider-color: darken(@panel-fg-solid, 10%);
@panel-btn-bg: fadeout(#000, 46%);
@panel-btn-fg: #fff;
@short-screen-panel-margin: 12px;

@scene-height: 620px;
@short-scene-height: 463px;