@import "../../node_modules/bootstrap/less/variables.less"; // Bootstrap Variables
@import "../../node_modules/font-awesome/less/variables.less"; // Font-Awesome Variables
@import "../../../common/styles/variables.less";

@btn-bg: fadeout(@link-color, 80%);
@btn-fg: @link-color;

@panel-margin: 20px;
@panel-padding: 15px;
@panel-bg: fadeout(@gray-lightest, 52%);
@panel-fg: @btn-fg;
@panel-fg-solid: #21366B;
@panel-slider-color: @btn-bg;
@panel-slider-handle-color: @link-color;
@panel-btn-bg: @btn-bg;
@panel-btn-fg: @btn-fg;
@short-screen-panel-margin: 12px;

@medium-control-panel-width: 280px;
@toolbox-width: 140px;

@scene-height: 620px;
@short-scene-height: 463px;