@import "../../node_modules/bootstrap/less/mixins/vendor-prefixes.less";
@import "../../../common/styles/variables.less";
@import "mixins.less";

.graph-view.moving-man-graph-view {
    position: absolute;
    top: 10px;
    left: 180px;
    right: 30px;
    bottom: 10px;

    > .graph-view-graph-wrapper {
        position: absolute;
        top: 0;
        bottom: 30px;
        left: 40px;
        right: 0;
        min-width: initial;
        min-height: initial;

        > button {
            position: absolute;
            color: #888;
        }

        > .zoom-in-x, 
        > .zoom-out-x {
            top: 100%;
            margin-top: 19px;
        }

        > .zoom-in-x {
            right: 72px;
        }
        > .zoom-out-x  {
            right: 48px;
        }

        > .zoom-in-y,
        > .zoom-out-y {
            left: 100%;
            margin-left: 4px;
        }

        > .zoom-in-y {
            top: 50%;
            margin-top: -22px;
        }
        > .zoom-out-y {
            top: 50%;
            margin-top: 5px;
        }
    }
}


.playback-time-slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-left: 1px;
    padding-right: 1px;
    z-index: 100;

    display: none;

    /* Functional styling;
     * These styles are required for noUiSlider to function.
     * You don't need to change these rules to apply your design.
     */
    &.noUi-target,
    &.noUi-target * {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -ms-touch-action: none;
        -ms-user-select: none;
        -moz-user-select: none;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    & .noUi-base {
        width: 100%;
        height: 100%;
        position: relative;
    }
    & .noUi-origin {
        position: absolute;
        right: 0;
        top: 0;
        left: 0;
        bottom: 0;
    }
    & .noUi-handle {
        position: relative;
        z-index: 1;
    }
    & .noUi-stacking .noUi-handle {
    /* This class is applied to the lower origin when
       its values is > 50%. */
        z-index: 10;
    }
    & .noUi-stacking + .noUi-origin {
    /* Fix stacking order in IE7, which incorrectly
       creates a new context for the origins. */
        *z-index: -1;
    }
    &.noUi-state-tap .noUi-origin {
        // -webkit-transition: left 0.3s, top 0.3s;
        // transition: left 0.3s, top 0.3s;
    }
    &.noUi-state-drag * {
        cursor: inherit !important;
    }

    & .noUi-handle {
        height: 100%;
        width: 2px;
        left: -1px;
        top: 0;
        border-left: 4px solid rgba(80, 80, 80, 0.5);
        cusror: move;
        cursor: ew-resize;

        &:before,
        &:after {
            content: '';
            position: absolute;
            height: 8px;
            left: 0;
            width: 100%;
            cusror: move;
            cursor: ew-resize;
        }
        &:before {
            bottom: 0px;
        }
        &:after {
            top: 0px;
        }

        > .handle-top,
        > .handle-bottom {
            position: absolute;
            left: 50%;
            width: 24px;
            height: 24px;
            margin-left: -13px;
            
            &:after {
                content: '';
                display: block;
                width: 12px;
                height: 12px;
                position: absolute;
                top: 50%;
                left: 50%;
                margin-top: -6px;
                margin-left: -6px;
                background: @link-color;
                border-radius: 50%;
                .transition(~"width 0.2s ease, height 0.2s ease, margin-top 0.2s ease, margin-left 0.2s ease, background 450ms ease");
            }

            &:before {
                content: '';
                display: block;
                position: absolute;
                width: 0;
                height: 0;
                left: 50%;
                margin-left: -6px;

                border-left: 6px solid transparent;
                border-right: 6px solid transparent;
            }
        }

        &.noUi-active {
            border-color: fadeout(@link-color, 40%);
        }

        &.noUi-active > .handle-top:after,
        &.noUi-active > .handle-bottom:after {
            width: 100%;
            height: 100%;
            margin-left: -50%;
        }

        &.noUi-active > .handle-top:after {
            margin-top: -18px;
        }

        > .handle-top {
            bottom: 100%;

            &:before {
                border-top: 12px solid @link-color;
                top: 50%;
            }
        }
        > .handle-right {
            top: 100%;

            &:before {
                border-bottom: 12px solid @link-color;
                bottom: 50%;
            }
        }
    }


    
}