.graph-view.moving-man-graph-view {
	position: absolute;
	top: 0;
	left: 150px;
	right: 0;
	height: 140px;

	> .graph-view-graph-wrapper {
		position: absolute;
		top: 0;
		left: 40px;
		right: 0;
		height: 120px;
		min-width: initial;
		min-height: initial;
	}
}