@import "../../node_modules/bootstrap/less/mixins/vendor-prefixes.less";
@import "variables.less";
@import "mixins.less";

.sim-content {
    min-height: initial;
}

.sim-controls {
    background: @gray-lightest;
    padding-bottom: 20px;

    @media screen and (max-height: @short-window) {
        padding-bottom: 8px;

        #sim-charts & {
            padding-bottom: 20px;
        }
    }

    .variable-row {
        position: relative;
    }
}

.modal-backdrop {
    bottom: 0;
    z-index: 1020;
}

#sim-intro .row-hide,
#sim-intro .row-show,
#sim-intro .hidden-title {
    display: none;
}

@normal-height:   160px;
@collapsed-height: 60px;

#sim-charts .variable-row {
    height: @normal-height;
    margin: -10px 0 -40px 0;
    padding: 10px 0 0;

    & .row-content {
        height: 100%;
        position: relative;
        overflow: hidden;
    }

    &.collapsed {
        height: @collapsed-height;

        & .row-content {
            height: 0;
        }

        & .row-show {
            display: block;
        }

        & .row-hide {
            display: none;
        }

        & .hidden-title {
            display: block;
        }
    }

    .hidden-title {
        position: absolute;
        left: 30px;
        font-size: 16px;
        font-weight: bold;
        opacity: 0.5;

        display: none;
    }

    &.position-row .hidden-title {
        color: @position-color;
    }

    &.velocity-row .hidden-title {
        color: @velocity-color;
    }

    &.acceleration-row .hidden-title {
        color: @acceleration-color;
    }

    // &.two-rows {
    //     height: @normal-height + ((@normal-height - @collapsed-height) / 2);
    // }

    // &.one-row {
    //     height: @normal-height + ((@normal-height - @collapsed-height) * 2);
    // }

    .row-show,
    .row-hide {
        position: absolute;
        top: 8px;
        left: 100%;
        margin-left: -26px;
        font-size: 16px;
        color: #888;
        z-index: 50;
        .text-button();
    }

    .row-show {
        display: none;
    }
}

#sim-charts .sim-controls .acceleration-row {
    margin-bottom: -14px;
}
