@import "../../node_modules/bootstrap/less/mixins/vendor-prefixes.less";
@import "../../../common/styles/variables.less";
@import "mixins.less";

.sim-content {
    min-height: initial;
}

.sim-controls {
    background: @gray-lightest;
    padding-bottom: 20px;

    @media screen and (max-height: @short-window) {
        padding-bottom: 8px;
    }

    .variable-row {
        position: relative;
    }
}

.modal-backdrop {
    bottom: 0;
    z-index: 1020;
}

#sim-intro .row-hide,
#sim-intro .row-show {
    display: none;
}

@normal-height:   160px;
@collapsed-height: 60px;

#sim-charts .variable-row {
    height: @normal-height;
    margin: -10px 0 -40px 0;
    padding: 10px 0 0;

    & .row-content {
        height: 100%;
        position: relative;
        overflow: hidden;
    }

    &.collapsed {
        height: @collapsed-height;

        & .row-content {
            height: 0;
        }

        & .row-show {
            display: block;
        }

        & .row-hide {
            display: none;
        }
    }

    // &.two-rows {
    //     height: @normal-height + ((@normal-height - @collapsed-height) / 2);
    // }

    // &.one-row {
    //     height: @normal-height + ((@normal-height - @collapsed-height) * 2);
    // }

    .row-show,
    .row-hide {
        position: absolute;
        top: 8px;
        left: 100%;
        margin-left: -26px;
        font-size: 16px;
        color: #888;
        .text-button();
    }

    .row-show {
        display: none;
    }
}

#sim-charts .sim-controls .acceleration-row {
    margin-bottom: -14px;
}

.sound-btn-wrapper {
    position: absolute;
    top: -34px;
    right: 30px;

    > .sound-btn {
        background: @gray-lightest;
        color: @link-color;
        outline: none;
        border: none;
        border-radius: 50%;
        width: 28px;
        height: 28px;
        text-align: center;

        &:hover {
            opacity: 0.9;
        }

        &:active {
            background: @link-color;
            color: #fff;
        }

        &.sound-btn-mute,
        &.sound-btn-high {
            display: none;
        }
    }
}
