@import "../../bower_components/bootstrap/less/variables.less"; // Bootstrap Variables
@import "../../bower_components/font-awesome/less/variables.less"; // Font-Awesome Variables

@icon-font-path: "../../bower_components/bootstrap/fonts/"; // Just to make the bootstrap happy for now...
@fa-font-path: "../../bower_components/font-awesome/fonts/";

@panel-margin: 20px;
