<div class="modal" id="<%= help_modal_id %>">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">About Custom Functions</h4>
            </div>
            <div class="modal-body">
                <p>You can specify an expression where <em>position</em> is a function of <em>time</em> (<code>t</code>).</p>
                <br>
                <h4>Examples of valid expressions:</h4>
                <ul>
                    <li><span class="implicit-expression">&fnof;(t) = </span><code>3 * t + 2</code></li>
                    <li><span class="implicit-expression">&fnof;(t) = </span><code>2*sin(t)</code></li>
                    <li><span class="implicit-expression">&fnof;(t) = </span><code>pow(t,2)</code></li>
                    <li><span class="implicit-expression">&fnof;(t) = </span><code>7*pow(sin(t),2)</code></li>
                    <li><span class="implicit-expression">&fnof;(t) = </span><code>sqrt(t * 4)</code></li>
                </ul>
                <p>
                    Note that you only input the right side of the equation and also that multiplication must be specified explicitly as in <code>3 * t</code>, instead of implicitly as in <code>3t</code>.
                </p>
                <br>
                <h4>
                    Available math functions:
                </h4>
                <table class="table functions-table">
                    <thead>
                        <th>Function</th>
                        <th>Description</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>abs(x)</td>
                            <td>absolute value of x</td>
                        </tr>
                        <tr>
                            <td>acos(x)</td>
                            <td>arccosine of x</td>
                        </tr>
                        <tr>
                            <td>asin(x)</td>
                            <td>arcsine of x</td>
                        </tr>
                        <tr>
                            <td>atan(x)</td>
                            <td>arctangent of x</td>
                        </tr>
                        <tr>
                            <td>cos(x)</td>
                            <td>cosine of x</td>
                        </tr>
                        <tr>
                            <td>exp(x)</td>
                            <td>E<sup>x</sup>, where E is Euler's constant</td>
                        </tr>
                        <tr>
                            <td>log(x)</td>
                            <td>natural logarithm of x</td>
                        </tr>
                        <tr>
                            <td>pow(x, y)</td>
                            <td>x<sup>y</sup></td>
                        </tr>
                        <tr>
                            <td>sin(x)</td>
                            <td>sine of x</td>
                        </tr>
                        <tr>
                            <td>sqrt(x)</td>
                            <td>square root of x</td>
                        </tr>
                        <tr>
                            <td>tan(x)</td>
                            <td>tangent of x</td>
                        </tr>
                    </tbody>
                </table>
                <br>
                <h4>
                    Available math constants:
                </h4>
                <table class="table functions-table">
                    <thead>
                        <th>Constant</th>
                        <th>Description</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>PI</td>
                            <td>Math constant <em>&pi;</em> and ratio of circumference of a circle to its diameter</td>
                        </tr>
                        <tr>
                            <td>E</td>
                            <td>Euler's constant and the base of natural logarithms</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->