<div class="playback-controls-wrapper">
	<button class="btn btn-normal clear-btn" title="Clear Recorded"><span class="fa fa-history"></span> Clear</button>

	<fieldset class="playback-mode-wrapper">
		<input type="radio" name="playback-mode" value="record" id="playback-mode-record" class="playback-mode" checked>
		<label for="playback-mode-record">Record</label>

		<input type="radio" name="playback-mode" value="playback" id="playback-mode-play" class="playback-mode">
		<label for="playback-mode-play">Playback</label>
	</fieldset>

	<button class="playback-btn rewind-btn" title="Rewind"><span class="fa fa-fast-backward"></span></button>
	<button class="playback-btn play-btn"   title="Resume"><span class="fa fa-play"></span></button>
	<button class="playback-btn pause-btn"  title="Pause"><span class="fa fa-pause"></span></button>
	<button class="playback-btn record-btn" title="Record"><span class="fa fa-circle"></span></button>
	<button class="playback-btn step-btn"   title="Step"><span class="fa fa-step-forward"></span></button>

	<div class="playback-speed-wrapper">
		<label>Slow</label><div class="slider playback-speed"></div><label>Fast</label>
	</div>
	
	<button class="btn btn-normal reset-btn" title="Reset All">Reset All</button>
</div>