<div class="scene">
	<div class="clouds">
		<div class="cloud cloud-1"></div>
		<!-- Time for multiple clouds to dance around -->
		<div class="cloud cloud-2"></div>
		<div class="cloud cloud-3"></div>
		<div class="cloud cloud-4"></div>
		<div class="cloud cloud-5"></div>
	</div>
	<div class="wall wall-left">
		<button class="btn wall-hide" title="Hide Walls"><span class="fa fa-caret-square-o-down"></span></button>
		<button class="btn wall-show" title="Show Walls"><span class="fa fa-caret-square-o-up"></span></button>
	</div>
	<div class="tree"></div>
	<div class="house"></div>
	<div class="man-container"></div>
	<div class="wall wall-right">
		<button class="btn wall-hide" title="Hide Walls"><span class="fa fa-caret-square-o-down"></span></button>
		<button class="btn wall-show" title="Show Walls"><span class="fa fa-caret-square-o-up"></span></button>
	</div>
</div>
<div class="ruler">
	<% for (var i = -10; i <= 10; i++) { %>
	<div class="ruler-number"><%= i % 2 ? '&nbsp;' : i %></div>
	<% } %>
	<div class="ruler-label">meters</div>
</div>