
<div class="content-area">
    <span class="scene-view-placeholder"></span>
    <div class="sim-controls">
        <div class="position-row variable-row">
            <div class="row-content"></div>
            <div class="hidden-title">(Position Hidden)</div>
            <button class="btn row-hide"><span class="fa fa-toggle-up"></span></button>
            <button class="btn row-show"><span class="fa fa-toggle-down"></span></button>
        </div>
        <div class="velocity-row variable-row">
            <div class="row-content"></div>
            <div class="hidden-title">(Velocity Hidden)</div>
            <button class="btn row-hide"><span class="fa fa-toggle-up"></span></button>
            <button class="btn row-show"><span class="fa fa-toggle-down"></span></button>
        </div>
        <div class="acceleration-row variable-row">
            <div class="row-content"></div>
            <div class="hidden-title">(Acceleration Hidden)</div>
            <button class="btn row-hide"><span class="fa fa-toggle-up"></span></button>
            <button class="btn row-show"><span class="fa fa-toggle-down"></span></button>
        </div>
    </div>
</div>

<span class="playback-controls-placeholder"></span>
