
<div class="content-area">
    <span class="scene-view-placeholder"></span>
    <div class="sim-controls">
        <div class="position-row variable-row">
            <div class="row-content"></div>
            <div class="hidden-title" title="Click to show">(Position Hidden)</div>
            <button class="btn row-hide" title="Click to hide"><span class="fa fa-toggle-up"></span></button>
            <button class="btn row-show" title="Click to show"><span class="fa fa-toggle-down"></span></button>
        </div>
        <div class="velocity-row variable-row">
            <div class="row-content"></div>
            <div class="hidden-title" title="Click to show">(Velocity Hidden)</div>
            <button class="btn row-hide" title="Click to hide"><span class="fa fa-toggle-up"></span></button>
            <button class="btn row-show" title="Click to show"><span class="fa fa-toggle-down"></span></button>
        </div>
        <div class="acceleration-row variable-row">
            <div class="row-content"></div>
            <div class="hidden-title" title="Click to show">(Acceleration Hidden)</div>
            <button class="btn row-hide" title="Click to hide"><span class="fa fa-toggle-up"></span></button>
            <button class="btn row-show" title="Click to show"><span class="fa fa-toggle-down"></span></button>
        </div>
    </div>
</div>

<span class="playback-controls-placeholder"></span>
