
<span class="scene-view-placeholder"></span>

<div class="sim-controls-wrapper">
    <div class="sim-controls-right">
        <div class="sim-controls choose-object-panel">
            <h2>Choose Object</h2>

            <ul class="choose-object-list">
            <% _.each(objects, function(object, index) { %>
                <li>
                    <input type="radio" name="object-chooser" value="<%= object.name %>" id="object-<%= object.name %>" <% if (object.isDefault) { %>checked<% } %>>
                    <label for="object-<%= object.name %>">
                        <div class="object-chooser-item-wrapper">
                            <div class="object-chooser-img-wrapper">
                                <%= Assets.createIcon(object.src, 60) %>
                            </div>
                            <label><%= object.label %></label>
                        </div>
                    </label>
                </li>
            <% }); %>
            </ul>
        </div>
    </div>
</div>