
<nav class="sim-tabs">
    <ul<% if (simViews.length === 1) { %> class="singleton"<% } %>>
        <% _.each(simViews, function(simView){ %>
        <li class="tab sim-tab <%= (simViews.length === 1) ? 'singleton' : '' %>" data-cid="<%= simView.cid %>" data-content-selector="#sim-<%= simView.name %>">
            <span class="tab-title"><%= simView.title %></span>
        </li>
        <% }); %>
    </ul>
</nav>

<div class="sims">
    <% _.each(simViews, function(simView){ %>
    <div class="sim-content" id="sim-<%= simView.name %>"></div>
    <% }); %>
</div>

<div class="footer">
  <div class="col-md-4"><div class="logo"><a href="http://cnx.org/" target="_blank"><img src="../common/img/cnx_logo_white.png"></a></div></div>
  <div class="col-md-4"></div>
  <div class="col-md-4"><div class="logo"><div class="pull-right"><span class="middle">Derived from</span>
    <a href="https://phet.colorado.edu/en/simulation/<%= link %>" target="_blank"><img src="../common/img/PhET_logo_notagline.png"></a></div></div></div>
</div>
