
<nav class="sim-tabs">
    <ul>
        <% _.each(simViews, function(simView){ %>
        <li class="tab sim-tab <%= (simViews.length === 1) ? 'singleton' : '' %>" data-cid="<%= simView.cid %>" data-content-selector="#sim-<%= simView.name %>">
            <span class="tab-title"><%= simView.title %></span>
        </li>
        <% }); %>
    </ul>
</nav>

<div class="sims">
    <% _.each(simViews, function(simView){ %>
    <div class="sim-content" id="sim-<%= simView.name %>"></div>
    <% }); %>
</div>