@import "../node_modules/bootstrap/less/bootstrap.less"; // Bootstrap
@import "../styles/variables.less";
@import "../styles/mixins/vendor-prefixes.less";

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
}

.app-view {

    position: relative;
    margin: 10px auto 0 auto;
    max-width: @max-viewport-width;
    width: 100%;
    
    &.loading {
        &:before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            z-index: 9998;
            background: #fff;
        }

        &:after {
            content: '';
            display: block;
            width: 100px;
            height: 100px;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -50px;
            margin-left: -50px;
            z-index: 9999;
            background: #fff;
            border: 6px solid #ddd;

            .animation-name(loading-badge);
            .animation-duration(1600ms);
            .animation-iteration-count(infinite);
            .animation-direction(alternate);
            .animation-timing-function(cubic-bezier(1,.27,.02,.71));
        }
    }

    .loading-screen {
        position: absolute;
        width: 100%;
        height: 100%;
        min-height: 600px;
        background-color: #fff;
        @bgcolor: @gray-lightest;
        @thickness: 0.4em;
        @width: 4em;
        @liquid-height: 3em;
        @beaker-height: 4.8em;

        .beaker {
            /* Based off this CodePen icon: http://codepen.io/joshnh/pen/EsoDv */
            font-size: 2em;
            border-radius: .5em;
            border-top-right-radius: 0;
            border-top-left-radius: 0;
            display: inline-block;
            height: @liquid-height;
            left: 50%;
            margin: -2.5em -2em;
            position: absolute;
            top: 50%;
            width: @width;
            background-color: @bgcolor;
            box-sizing: content-box;

            &:before, &:after {
                content: '';
                box-sizing: content-box;
                position: absolute;
                top: -(@beaker-height - @liquid-height);
            }

            &:before {
                border-left: @thickness solid @bgcolor;
                border-radius: @thickness;
                border-right: @thickness solid @bgcolor;
                height: @thickness;
                left: -@thickness;
                width: @width;
            }

            &:after {
                border-left: @thickness solid @bgcolor;
                border-right: @thickness solid @bgcolor;
                height: (@beaker-height - @liquid-height);
                width: (@width - 2 * @thickness);
            }

            .bubbles {
                position: absolute;
                left: @thickness;
                right: @thickness;
                bottom: @liquid-height;
                height: 1000px;
                background-color: #fab;
            }
        }
    }
}

.keyframes-3(loading-badge, {
    border-radius: 0;
    .transform(rotate(0) scale(1, 1));
},{
    border-radius: 25%;
    .transform(rotate(0) scale(0.05, 0.05));
},{
    border-radius: 50%;
    .transform(rotate(0) scale(1, 1));
});

.sims {
    position: relative;
}

.sim-view {
    height: 100%;
    width: 100%;
}
