<div class="bar-graph">
    <h4 class="title"><%= title%>
    <button class="btn btn-zoom-in">
        <span class="fa fa-search"><span class="fa fa-plus"></span></span>
    </button>
    <button class="btn btn-zoom-out">
        <span class="fa fa-search"><span class="fa fa-minus"></span></span>
    </button>
    </h4>
    <ul class="bars">
        <% _.each(bars, function(bar){ %>
            <li class="attribute <%= bar.class %>" id="<%= bar.linkTo %>"><label><%= bar.label %></label><% if(bar.class !== 'total'){%><div class="bar <%= bar.linkTo %>"></div><% };%></li>
        <% }); %>
    </ul>
    <div id="total-marker"><p><%= totalLabel %></p></div>
</div>