@import "variables.less";
@import "mixins.less";

@ring-radius: 26px;
@ring-thickness: 8px;
@ammeter-width:  120px;
@ammeter-height: (@ring-radius * 2);
@panel-x: (@ring-radius - @ring-thickness);
@panel-bg: #fff;
@panel-opacity: 0.7;
@panel-padding: 15px;
@crosshairs-color: @panel-bg;
@crosshairs-opacity: @panel-opacity;

.ammeter-view {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 200;
    cursor: -webkit-grab;
    cursor: grab;
    .user-select(none);

    .ammeter-background {
        position: absolute;
        opacity: @panel-opacity;

        .ammeter-ring {
            position: absolute;
            top: -@ring-radius;
            left: -@ring-radius;
            width:  (@ring-radius * 2);
            height: (@ring-radius * 2);
            border: @ring-thickness solid @panel-bg;
            border-radius: 50%;
        }

        .ammeter-panel-bg {
            position: absolute;
            top: -(@ammeter-height / 2);
            left: @panel-x;
            width: @ammeter-width;
            height: @ammeter-height;
            background: @panel-bg;
        }

        &:before {
            content: '';
            position: absolute;
            top: -@ring-radius;
            left: -@ring-radius;
            width:  (@ring-radius * 2);
            height: (@ring-radius * 2);
            border: @ring-thickness solid @panel-bg;
        }
    }

    .ammeter-content {
        position: absolute;
        top: -(@ammeter-height / 2);
        left: @panel-x;
        width: @ammeter-width;
        height: @ammeter-height;
        padding: @panel-padding;
        line-height: (@ammeter-height - @panel-padding * 2);
        text-align: right;

        // div {
        //     padding-left: 10px;
        //     padding-right: 10px;

        //     label {
        //         display: inline-block;
        //     }         
        // }
    }

    &:before, &:after {
        content: '';
        position: absolute;
        background: @crosshairs-color;
        opacity: @crosshairs-opacity;
    }

    &:before {
        width: ((@ring-radius - @ring-thickness) * 2);
        height: 2px;
        top: -1px;
        left: -(@ring-radius - @ring-thickness);
    }

    &:after {
        width: 2px;
        height: ((@ring-radius - @ring-thickness) * 2);
        left: -1px;
        top: -(@ring-radius - @ring-thickness);
    }
}