@import "mixins.less";
@import "variables.less";

.context-menu-popover .popover-content {
    padding: 2px 0;

    .context-menu {
        display: block;
        margin: 0;
        padding: 0;
        font-size: 14px;
        text-align: left;
        list-style: none;
        .user-select(none);

        li {
            a {
                display: block;
                padding: 3px 20px;
                font-weight: 400;
                line-height: 1.42857143;
                color: #333;
                white-space: nowrap;
                cursor: pointer;

                &:hover {
                    color: #262626;
                    text-decoration: none;
                    background-color: fadeout(#fff, 50%);
                }

                &:active, &:hover {
                    outline: 0;
                }

                &.disabled,
                &.disabled:hover,
                &.disabled:active {
                    color: #999;
                    background-color: transparent;
                    cursor: default;
                }

                span.fa {
                    width: 14px;
                    text-align: center;
                    margin-left: -6px;
                    margin-right: 4px;
                }
            }
        }

        hr {
            margin-top: 0;
            margin-bottom: 0;
        }
    }
}