@import "mixins.less";
@import "variables.less";

.resistance-controls {
    width: 200px;

    .resistance-slider {
        margin-top: 14px;
        margin-bottom: 20px;

        .noUi-background {
            background: #E0E0E0;
        }
    }

    .resistance-text-wrapper {
        padding-bottom: 4px;

        .resistance-text {
            text-align: right;
            display: inline-block;
            width: 70%;
        }

        .resistance-text-label {
            font-weight: bold;
            line-height: 34px;
            padding-left: 10px;
            display: inline-block;
        }
    }
}
