@import "mixins.less";
@import "variables.less";

.scene-view {
    width: 100%;
    height: @scene-height;
    #gradient.vertical(#a5def4; #73B0C8; 0%; 85%);

    @media screen and (max-height: @short-window) {
        height: @short-scene-height;
    }
}

@popover-bg: fadeout(#fff, 20%);

.scene-view-ui .popover {
    background: @popover-bg;

    &.bottom > .arrow:after { border-bottom-color: @popover-bg; }
    &.top    > .arrow:after { border-top-color:    @popover-bg; }
    &.left   > .arrow:after { border-left-color:   @popover-bg; }
    &.right  > .arrow:after { border-right-color:  @popover-bg; }

    .popover-title {
        background-color: fadeout(#fff, 80%);
        border-bottom-color: fadeout(#000, 93%);
    }

    .form-control {
        background-color: rgba(255, 255, 255, 0.38);
        border-color: rgba(10, 10, 10, 0.18);
    }
}

.scene-view-ui .time-scale-message-view {
    position: absolute;
    bottom: 67px;
    line-height: 56px;
    text-align: center;
    width: 100%;
    font-size: 16px;
    color: #fff;

    @media screen and (max-height: @short-window) {
        bottom: 55px;
        line-height: 68px;
    }
}