@import "variables.less";
@import "mixins.less";

.sims .sim-content {
    min-height: inherit;
}

.sim-controls-wrapper {
    position: absolute;
    right: @panel-margin;
    top: @panel-margin;

    @media screen and (max-height: @short-window) {
        right: (@short-screen-panel-margin + 1);
        top: @short-screen-panel-margin;
    }
}

@media screen and (max-height: @short-window) {
    .sim-controls-wrapper {
        position: inherit;
        top: auto;
        right: auto;
    }

    .sim-controls-left {
        position: absolute;
        top: @short-screen-panel-margin;
        left: (@short-screen-panel-margin + 1);
    }

    .sim-controls-right {
        position: absolute;
        top: @short-screen-panel-margin;
        right: (@short-screen-panel-margin + 1);
    }
}

.sim-controls {
    .panel();
    .user-select(none);
    padding: 15px;
    position: relative;
    margin-bottom: 12px;
    width: @sim-controls-panel-width;

    h2 {
        .header();
        margin-top: 0;
        margin-bottom: 8px;
        
        @media screen and (max-height: @short-window) {
            margin-top: -2px;
            margin-bottom: 6px;
        }

        .expand-icon,
        .collapse-icon {
            display: none;
        }
    }

    h2:not(:first-child) {
        margin-top: 20px;

        @media screen and (max-height: @short-window) {
            margin-top: 14px;
        }
    }

    label {
        color: fadeout(#222, 20%);
    }

    ul.radios, ul.checkboxes {
        list-style: none;
        padding: 0;
        margin: 0;
        margin-bottom: 4px;

        li {
            text-align: left;
            list-style-image: none;
            margin-bottom: 2px;

            label{
                font-weight: bold;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .btn {
        .panel-button();
    }

    &.tools-panel .btn {
        width: 100%;
        margin-top: 6px;
    }

}

.zoom-controls {
    position: absolute;
    bottom: 82px;
    right: 20px;
    color: #fff;

    @media screen and (max-height: @short-window) {
        left: 20px;
        right: inherit;
    }

    .btn-zoom-in,
    .btn-zoom-out,
    .btn.btn-zoom-in,
    .btn.btn-zoom-out {
        .zoom-button();
    }
}
