@import "../../node_modules/bootstrap/less/variables.less"; // Bootstrap Variables
@import "../../node_modules/font-awesome/less/variables.less"; // Font-Awesome Variables
@import "../../../common/styles/variables.less";

@btn-bg: #ccc;
@btn-fg: @link-color;

@panel-margin: 20px;
@panel-bg: @gray-lightest;
@panel-fg: @btn-fg;
@panel-btn-bg: @btn-bg;
@panel-btn-fg: @btn-fg;
@short-screen-panel-margin: 12px;
@sim-controls-panel-width: 180px;

@scene-height: 600px;
@short-scene-height: 412px;