@import "../../node_modules/bootstrap/less/mixins/vendor-prefixes.less";
@import "../../../common/styles/variables.less";
@import "variables.less";
@import "mixins.less";

@control-panel-expanded-width: 220px;
@control-panel-collapsed-width: 60px;

.sim-controls {
    .white-panel(@shadow-alpha: 0.13, @background-fade-percent: 60%);
    padding: 15px;
    position: absolute;
    right: @panel-margin;
    top: @panel-margin;
    width: @control-panel-expanded-width;

    h2 {
        font-size: 20px;
        font-weight: 400;
        color: rgba(51, 51, 51, 0.8);
        margin-top: 0;
        margin-bottom: 15px;
        padding-bottom: 4px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.09);
    }

    > .btn-fire,
    > .btn-erase {
        position: absolute;
        top: 100%;
        margin-top: 4px;
        width: (@control-panel-expanded-width / 2 - 2);
        background: fadeout(#fff, 60%);
        box-shadow: 0 0 11px rgba(0, 0, 0, 0.13);
        border-radius: 0;

        font-weight: bold;

        &:focus {
            outline: none;
        }

        &:hover {
            background: fadeout(#fff, 40%);
        }

        &:active {
            margin-top: 5px;
            box-shadow: 0 -1px 11px rgba(0, 0, 0, 0.13);
        }
    }

    > .btn-fire {
        left: 0;
        color: fadeout(#A00000, 30%);

        &:hover {
            color: #A00000;
        }
    }

    > .btn-erase {
        right: 0;
        color: fadeout(#333, 30%);

        &:hover {
            color: #333;
        }
    }

    .bootstrap-select {
        background-color: transparent;
        border-color: transparent;

        > .btn {
            background: rgba(255, 255, 255, 0.27);
            border-color: rgba(0, 0, 0, 0.1);

            &:focus {
                outline: none !important;
            }

            &:active {
                .box-shadow(none);
            }
        }

        a:focus {
            outline: none;
        }
    }

    .bootstrap-select.open > .btn {
        .box-shadow(none);
    }

    label {
        color: #555;
    }

    input.form-control {
        background: rgba(255, 255, 255, 0.27);
        border-color: rgba(0, 0, 0, 0.1);
        position: relative;

        // Just for Chrome--they're too far left by default
        &::-webkit-inner-spin-button, 
        &::-webkit-outer-spin-button {
            right: 4px;
            margin-top: 2px;
            position: absolute;
        }
    }

    .control-group {
        margin-top: 10px;

        label {
            float: left;
            width: 68%;
            padding-right: 6px;
            line-height: 34px;
            text-align: right;
        }
        .input-wrapper {
            float: left;
            width: 32%;
            padding-right: 0;
        }
    }

    .air-resistance-check {
        margin-top: 15px;
    }

    .air-resistance-parameters {
        display: none;
        border-top: 1px solid rgba(0, 0, 0, 0.09);
    }
}

.sound-btn-wrapper {
    position: absolute;
    top: -36px;
    right: 30px;

    > .sound-btn {
        background: @gray-lightest;
        color: @link-color;
        outline: none;
        border: none;
        border-radius: 50%;
        width: 28px;
        height: 28px;
        text-align: center;

        &:hover {
            opacity: 0.9;
        }

        &:active {
            background: @link-color;
            color: #fff;
        }

        &.sound-btn-mute,
        &.sound-btn-high {
            display: none;
        }
    }
}

.zoom-controls {
    position: absolute;
    bottom: 20px;
    right: 20px;

    color: #fff;
}