@import "../../node_modules/bootstrap/less/mixins/vendor-prefixes.less";
@import "../../../common/styles/variables.less";
@import "variables.less";
@import "mixins.less";

@control-panel-expanded-width: 200px;
@control-panel-collapsed-width: 60px;

.sim-controls {
    height: 300px;
    .white-panel(@shadow-alpha: 0.13, @background-fade-percent: 60%);
    padding-bottom: 20px;
    position: absolute;
    right: @panel-margin;
    top: @panel-margin;
    width: @control-panel-expanded-width;

    > .btn-fire,
    > .btn-erase {
        position: absolute;
        top: 100%;
        margin-top: 4px;
        width: (@control-panel-expanded-width / 2 - 2);
        background: fadeout(#fff, 60%);
        box-shadow: 0 0 11px rgba(0, 0, 0, 0.13);
        border-radius: 0;

        font-weight: bold;

        &:focus {
            outline: none;
        }

        &:hover {
            background: fadeout(#fff, 40%);
        }

        &:active {
            margin-top: 5px;
            box-shadow: 0 -1px 11px rgba(0, 0, 0, 0.13);
        }
    }

    > .btn-fire {
        left: 0;
        color: fadeout(#A00000, 30%);

        &:hover {
            color: #A00000;
        }
    }

    > .btn-erase {
        right: 0;
        color: fadeout(#333, 30%);

        &:hover {
            color: #333;
        }
    }
}

.sound-btn-wrapper {
    position: absolute;
    top: -36px;
    right: 30px;

    > .sound-btn {
        background: @gray-lightest;
        color: @link-color;
        outline: none;
        border: none;
        border-radius: 50%;
        width: 28px;
        height: 28px;
        text-align: center;

        &:hover {
            opacity: 0.9;
        }

        &:active {
            background: @link-color;
            color: #fff;
        }

        &.sound-btn-mute,
        &.sound-btn-high {
            display: none;
        }
    }
}

.zoom-controls {
    position: absolute;
    bottom: 20px;
    right: 20px;

    color: #fff;
}