@import "../../node_modules/bootstrap/less/mixins/vendor-prefixes.less";
@import "../../../common/styles/variables.less";
@import "variables.less";
@import "mixins.less";

.playback-controls-wrapper {
    position: absolute;
    bottom: 6px;
    width: 100%;
    height: 62px;
    padding: 10px;
    background: @panel-bg;
    text-align: center;
    .user-select(none);

    .playback-btn {
        display: inline-blocsk;
        background: @btn-bg;
        color: @link-color;
        outline: none;
        border: none;
        border-radius: 50%;
        width: 28px;
        height: 28px;
        text-align: center;

        &:hover {
            opacity: 0.9;
        }

        &:active {
            background: @link-color;
            color: #fff;
        }

        &.pause-btn {
            display: none;
        }
        .sim-view.playing &.pause-btn {
            display: inline-block;
        }
        .sim-view.playing &.play-btn {
            display: none;
        }

        &.play-btn,
        &.pause-btn {
            width: 42px;
            height: 42px;
            font-size: 16px;
        }

        &.play-btn {
            padding-left: 10px;
        }

        &.back-btn {
            margin-left: 12px;
        }

        &.step-btn {
            margin-right: 40px;
        }
    }

    .btn-normal {
        .button-variant(@btn-fg, @btn-bg, #fff, @btn-fg);
        margin: 5px 5px 0;
    }

    .reset-btn {
        float: right;
    }

    .playback-speed-wrapper {
        position: absolute;
        left: 80px;
        height: 100%;
        top: 0;
        padding-top: 18px;

        .playback-speed {
            width: 140px;
            display: inline-block;
            vertical-align: middle;
            background: @link-color;

            &.slider .noUi-handle:after {
                background: #fff;
                border: 2px solid @link-color;
            }
        }

        label {
            vertical-align: middle;
            margin: 0 8px;
            color: fadeout(@link-color, 10%);
        }
    }

    .playback-center-buttons-wrapper {
        width: 250px;
        position: absolute;
        left: 50%;
        margin-left: -125px;
        top: 0;
        height: 100%;
        padding: 10px;
        text-align: center;
    }

    .playback-time-wrapper {
        position: absolute;
        top: 0;
        right: 245px;
        line-height: 62px;

        label {
            color: fadeout(@link-color, 10%);
        }

        #time {
            width: 70px;
            display: inline-block;
            text-align: right;
        }
    }

}