@import "../../node_modules/bootstrap/less/mixins/vendor-prefixes.less";
@import "../../../common/styles/variables.less";
@import "variables.less";
@import "mixins.less";

.scene-view {
    width: 100%;
    height: 100%;
    max-height: 680px;

    background: url(../img/bg-pattern.png);
}

.kinetic-energy-label {
	position: absolute;
	padding: 5px 8px;
	left: @panel-margin;
	bottom: (@panel-margin + 62);
	pointer-events: none;
	color: fadeout(@link-color, 26%);

	.kinetic-energy {
		min-width: 36px;
		display: inline-block;
		text-align: right;
	}
}

.momenta-diagram {
	position: absolute;

	.title {
		.header();
		position: absolute;
		top: @panel-padding;
		left: @panel-padding;
		pointer-events: none;
	}
	
	.checkbox-wrapper {
		position: absolute;
		margin-bottom: 2px;
		margin-left:   5px;
	}
}