@import "../../node_modules/bootstrap/less/variables.less"; // Bootstrap Variables
@import "../../node_modules/font-awesome/less/variables.less"; // Font-Awesome Variables
@import "../../../common/styles/variables.less";

@panel-margin: 20px;
@panel-padding: 15px;
@btn-bg: fadeout(@link-color, 80%);
@btn-fg: @link-color;
@panel-bg: fadeout(#fff, 50%);
@control-panel-width: 200px;