
<span class="scene-view-placeholder"></span>

<div class="sim-controls-wrapper">
    <div class="sim-controls">

        <h2>Visibility Options</h2>

        <ul class="checkboxes">
            <li>
                <input type="checkbox" class="e-field-check" id="e-field-check">
                <label for="e-field-check">E-Field</label>
                <div class="e-field-additional-options sub-options disabled">
                    <input type="checkbox" class="direction-only-check" id="direction-only-check" disabled>
                    <label for="direction-only-check">Direction Only</label>
                </div> 
            </li>
            <li>
                <input type="checkbox" class="voltage-check" id="voltage-check">
                <label for="voltage-check">Voltage</label>
            </li>
            <li>
                <input type="checkbox" class="grid-check" id="grid-check">
                <label for="grid-check">Grid</label>
            </li>
            <li>
                <input type="checkbox" class="numbers-check" id="numbers-check">
                <label for="numbers-check">Numbers</label>
                <div class="numbers-additional-options sub-options disabled">
                    <input type="checkbox" class="tape-measure-check" id="tape-measure-check" disabled>
                    <label for="tape-measure-check">Tape Measure</label>
                </div> 
            </li>
        </ul>

    </div>

    <button class="btn btn-clear"><span class="fa fa-trash-o"></span>&nbsp; Clear Everything</button>
</div>