@import "../../node_modules/bootstrap/less/mixins/vendor-prefixes.less";
@import "../../../common/styles/variables.less";
@import "../../../common/styles/mixins/vendor-prefixes.less";
@import "../../../common/styles/mixins/buttons.less";

.text-button(@font-weight: bold) {
    background: transparent;
    padding: 0;
    opacity: 0.8;
    font-weight: @font-weight;

    &:focus {
        outline: none;
        color: inherit;
    }

    &:hover {
        color: inherit;
        opacity: 1;
    }

    &:active {
        color: inherit;
        .box-shadow(none);
    }
}

.sim-controls-button() {
    background: #fff;
    border-color: fadeout(#000, 80%);
    text-transform: capitalize;
    width: 100%;

    &:focus {
        outline: none !important;
    }

    &:active {
        .box-shadow(none);
    }
}

.white-panel(@shadow-alpha: 0.25, @background-fade-percent: 40%) {
    background: fadeout(#fff, @background-fade-percent);
    box-shadow: 0 0 11px rgba(0, 0, 0, @shadow-alpha);
}