@import "mixins.less";
@import "variables.less";

.scene-view {
    width: 100%;
    height: @scene-height;
    background: url(../img/squairy_light.png);

    @media screen and (max-height: @short-window) {
        height: @short-scene-height;
    }
}