@import "variables.less";
@import "mixins.less";

.sims .sim-content {
    min-height: initial;
}



.hello-world {
    position: absolute;
    top: 44%;
    width: 100%;
    text-align: center;
    font-size: 26px;
}