@import "../../node_modules/bootstrap/less/variables.less"; // Bootstrap Variables
@import "../../node_modules/font-awesome/less/variables.less"; // Font-Awesome Variables
@import "../../../common/styles/variables.less";

@panel-margin: 20px;
@control-panel-width: 195px;
@short-screen-panel-margin: 14px;

@btn-bg: fadeout(@link-color, 80%);
@btn-fg: @link-color;
@playback-controls-bg: fadeout(#fff, 40%);

@scene-height: 620px;
@short-scene-height: 463px;