<div class="field-meter-background">
	<div class="field-meter-ring"></div>
	<div class="field-meter-panel-bg"></div>
</div>
<div class="field-meter-content">
	<h2>Magnetic (B) Field</h2>
	<div><label>B&#772; </label><span class="equals">=</span><span class="value"><span class="b-bar">  </span><span class="unit">G</span></span></div>
	<div><label>B&#772;x</label><span class="equals">=</span><span class="value"><span class="b-bar-x"></span><span class="unit">G</span></span></div>
	<div><label>B&#772;y</label><span class="equals">=</span><span class="value"><span class="b-bar-y"></span><span class="unit">G</span></span></div>
	<div><label>&Theta; </label><span class="equals">=</span><span class="value"><span class="theta">  </span><span class="unit">&deg;</span></span></div>
</div>