
<span class="scene-view-placeholder"></span>

<div class="side-panel">
    <div class="settings">
        <h2>Atoms &amp; Molecules</h2>

        <div class="atoms-and-molecules">
            <input type="radio" name="molecule-type-<%= name %>" value="<%= Constants.MoleculeTypes.NEON %>" id="molecule-type-neon" class="molecule-type" checked>
            <label for="molecule-type-neon">Neon</label><br>

            <input type="radio" name="molecule-type-<%= name %>" value="<%= Constants.MoleculeTypes.ARGON %>" id="molecule-type-argon" class="molecule-type">
            <label for="molecule-type-argon">Argon</label><br>

            <input type="radio" name="molecule-type-<%= name %>" value="<%= Constants.MoleculeTypes.DIATOMIC_OXYGEN %>" id="molecule-type-oxygen" class="molecule-type">
            <label for="molecule-type-oxygen">Oxygen</label><br>

            <input type="radio" name="molecule-type-<%= name %>" value="<%= Constants.MoleculeTypes.WATER %>" id="molecule-type-water" class="molecule-type">
            <label for="molecule-type-water">Water</label><br>
        </div>
    </div>
</div>

<div class="playback-controls-wrapper">
    <div class="playback-center-buttons-wrapper">
        <button class="playback-btn play-btn"   title="Resume"><span class="fa fa-play"></span></button>
        <button class="playback-btn pause-btn"  title="Pause"><span class="fa fa-pause"></span></button>
        <button class="playback-btn step-btn"   title="Step"><span class="fa fa-step-forward"></span></button>
    </div>
    
    <button class="btn btn-normal reset-btn" title="Reset All">Reset All</button>
</div>