<div class="greenhouse-gas-composition-wrapper">
    <div id="composition-summary-today">
        <h1>Greenhouse Gas Composition</h1>
        <table>
            <tr><td><label>H<sub>2</sub>O</label></td><td>70% rel. humidity</td></tr>
            <tr><td><label>CO<sub>2</sub></label></td><td>388 ppm</td></tr>
            <tr><td><label>CH<sub>4</sub></label></td><td>1.843 ppm</td></tr>
            <tr><td><label>N<sub>2</sub>O</label></td><td>0.317 ppm</td></tr>
        </table>
    </div>

    <div id="composition-summary-1750">
        <h1>Greenhouse Gas Composition</h1>
        <table>
            <tr><td><label>H<sub>2</sub>O</label></td><td>70% rel. humidity</td></tr>
            <tr><td><label>CO<sub>2</sub></label></td><td>280 ppm</td></tr>
            <tr><td><label>CH<sub>4</sub></label></td><td>0.730 ppm</td></tr>
            <tr><td><label>N<sub>2</sub>O</label></td><td>0.270 ppm</td></tr>
        </table>
    </div>

    <div id="composition-summary-ice-age">
        <h1>Greenhouse Gas Composition</h1>
        <table>
            <tr><td><label>H<sub>2</sub>O</label></td><td>?</td></tr>
            <tr><td><label>CO<sub>2</sub></label></td><td>180 ppm</td></tr>
            <tr><td><label>CH<sub>4</sub></label></td><td>0.380 ppm</td></tr>
            <tr><td><label>N<sub>2</sub>O</label></td><td>0.215 ppm</td></tr>
        </table>
    </div>
</div>