
<span class="scene-view-placeholder"></span>

<div class="sim-controls-wrapper">
    <div class="sim-controls-left">
        <div class="sim-controls legend-panel">
            <h2>Legend</h2>

            <div class="legend-symbol"><%= Assets.createIcon(sunlightPhotonSrc, { 'class': 'symbol-icon' }, iconSize) %> Sunlight photon</div>
            <div class="legend-symbol"><%= Assets.createIcon(infraredPhotonSrc, { 'class': 'symbol-icon' }, iconSize) %> Infrared photon</div>
        </div>

        <div class="sim-controls viewing-options-panel">
            <h2>Viewing Options</h2>

            <input type="checkbox" id="all-photons-check-<%= unique %>" class="all-photons-check">
            <label for="all-photons-check-<%= unique %>" class="all-photons-check-label">Show all photons</label>

            <div class="thermometer-wrapper">
                <input type="checkbox" id="thermometer-check-<%= unique %>" class="thermometer-check" checked>
                <label for="thermometer-check-<%= unique %>">Thermometer</label>

                <div class="degrees-wrapper">
                    <input type="radio" name="degrees-<%= unique %>" value="degrees-fahrenheit" id="degrees-fahrenheit-<%= unique %>" class="degrees degrees-fahrenheit" checked>
                    <label for="degrees-fahrenheit-<%= unique %>" class="degrees-label">&deg;F</label>

                    <input type="radio" name="degrees-<%= unique %>" value="degrees-celsius" id="degrees-celsius-<%= unique %>" class="degrees degrees-celsius">
                    <label for="degrees-celsius-<%= unique %>" class="degrees-label">&deg;C</label>
                </div>
            </div>
        </div>
    </div>

    <div class="sim-controls-right">
        <div class="sim-controls sim-settings-panel">
            <h2>Simulation Settings</h2>

            <label>Atmosphere of...</label>
            <ul class="radio atmosphere-options">
                <li>
                    <input type="radio" name="atmosphere-type" value="today" id="atmosphere-type-today" checked>
                    <label for="atmosphere-type-today">Today</label>
                </li>
                <li>
                    <input type="radio" name="atmosphere-type" value="seventeen-fifty" id="atmosphere-type-seventeen-fifty">
                    <label for="atmosphere-type-seventeen-fifty">1750 AD</label>
                </li>
                <li>
                    <input type="radio" name="atmosphere-type" value="ice-age" id="atmosphere-type-ice-age">
                    <label for="atmosphere-type-ice-age">Ice Age</label>
                </li>
                <li>
                    <input type="radio" name="atmosphere-type" value="custom" id="atmosphere-type-custom">
                    <label for="atmosphere-type-custom">Custom</label>
                </li>
            </ul>

            <label for="concentration-slider-<%= unique %>" class="slider-label">Greenhouse Gas Concentration</label>
            <div class="concentration-slider-wrapper">
                <label>None</label><div id="concentration-slider-<%= unique %>" class="slider concentration-slider"></div><label>Lots</label>
            </div>

            <div class="counter-wrapper">
                <label class="counter-label">Clouds</label>
                <div class="btn-group" role="group">
                    <button class="btn add-cloud-btn"><span class="fa fa-plus"></span></button>
                    <button class="btn remove-cloud-btn"><span class="fa fa-minus"></span></button>
                </div>
            </div>
        </div>
    </div>
</div>