@import "../../node_modules/bootstrap/less/mixins/vendor-prefixes.less";
@import "../../../common/styles/variables.less";
@import "mixins.less";



.sim-content {

	min-height: initial;

	&:before {
		content: '';
		position: absolute;
		bottom: 100%;
		left: 0;
		width: 100%;
		height: 0;
		box-shadow: 0px 0px 24px 17px #21366b;
		clip: rect(0, auto, 70px, 0);
	}

	.scene-view {
		height: 580px;
		width: 100%;
		display: block;
		background: #000;
	}
}