@import "../../node_modules/bootstrap/less/variables.less"; // Bootstrap Variables
@import "../../node_modules/font-awesome/less/variables.less"; // Font-Awesome Variables

@panel-margin: 20px;
@btn-bg: #959595;
@btn-fg: #000;//@link-color;

@panel-bg: fadeout(#fff, 70%);
@panel-fg: fadeout(#fff, 32%);
@panel-fg-solid: #C8C9CC;
@panel-slider-color: darken(@panel-fg-solid, 10%);
@panel-btn-bg: fadeout(#000, 46%);
@panel-btn-fg: #fff;