@import "../../node_modules/bootstrap/less/variables.less"; // Bootstrap Variables
@import "../../node_modules/font-awesome/less/variables.less"; // Font-Awesome Variables

@panel-margin: 20px;
@btn-bg: #959595;
@btn-fg: #000;//@link-color;
@panel-bg: #777;