<form class="oscillator-controls">
	<div class="on-off-controls">
		<% var unique = parseInt(Math.random() * 99999); %>
		<input type="radio" name="on-off" value="1" id="oscillator-on-<%= unique %>" class="oscillator-on-off" checked>
		<label for="oscillator-on-<%= unique %>">On</label><br>

		<input type="radio" name="on-off" value="0" id="oscillator-off-<%= unique %>" class="oscillator-on-off">
		<label for="oscillator-off-<%= unique %>">Off</label><br>
	</div>

	<button class="btn btn-oscillator-pulse" disabled>Pulse</button>
</form>
<div class="oscillator-graphic"></div>