<button class="btn screen-graph-show-button"><span class="fa fa-cube"></span>Show Screen</button>
<button class="btn screen-graph-hide-button"><span class="fa fa-minus-square-o"></span></button>

<div class="screen-graph-container">
	<figcaption class="screen-graph-title"><%= title %></figcaption>

	<div class="screen-graph-canvas-wrapper">
		<canvas class="screen-graph-canvas"></canvas>
	</div>
</div>

<button class="btn screen-graph-show-chart-button"><span class="fa fa-area-chart"></span>Show Intensity Graph</button>