
<span class="scene-view-placeholder"></span>

<div class="sim-controls-wrapper">
    <div class="sim-controls-left">
        <div class="sim-controls legend-panel">
            <h2>Legend</h2>
        </div>
    </div>
    <div class="sim-controls-right">
        <div class="sim-controls alpha-particle-properties-panel">
            <h2>Alpha Particle Properties</h2>
        </div>
    </div>
    <% if(showAtomProperties){ %>
    <div class="sim-controls-right">
        <div class="sim-controls atom-properties-panel">
            <h2>Atom Properties</h2>
        </div>
    </div>
    <% } %>
</div>