
<div class="content-area">
    <span class="scene-view-placeholder"></span>
    <div class="sim-values">
      <div class="col-md-3">
       <label>|R|</label>
       <input type="text" class="form-control rText" readonly value=" <%= rText %>"/>
      </div>
      <div class="col-md-3">
        <label>&theta;</label>
        <input type="text" class="form-control thetaText" readonly value=" <%= thetaText %>"/>
      </div>
      <div class="col-md-3">
        <label>R<sub>x</sub></label>
        <input type="text" class="form-control rXText" readonly value="<%= rXText %>"/>
      </div>
      <div class="col-md-3">
        <label>R<sub>y</sub></label>
        <input type="text" class="form-control rYText" readonly value="<%= rYText %>"/>
      </div>
    </div>
    <div class="sim-controls">
      <div class="row">
        <div class="checkbox"><input type="checkbox" id="show-sum"><label for="show-sum">Show Sum</label>
        </div>
      </div>
      <div class="row">
        <h4>Component Display</h4>
        <div class="checkbox">
        <ul>
          <li><input type="radio" id="none" name="components"><label for="none">None</label></li>
          <li><input type="radio" id="style1" name="components"><label for="style1">Style 1</label></li>
          <li><input type="radio" id="style2" name="components"><label for="style2">Style 2</label></li>
          <li><input type="radio" id="style3" name="components"><label for="style3">Style 3</label></li>
        </ul>
      </div>
    </div>
      <div class="checkbox">
        <div class="checkbox"><input type="checkbox" id="show-grid" <% if (showGrid) { %>'checked="checked" <% } %>><label for="show-grid">Show Grid</label>
        </div>
    </div>
<input type="submit" class="btn" value="Clear All"/>
</div>
</div>
