
<span class="scene-view-placeholder"></span>

<div class="sim-controls beam-controls">
    <div class="wavelength-slider-container">
        <label class="slider-header">Wavelength <span class="slider-value wavelength-value">400nm</span></label>
        <div class="wavelength-slider-wrapper">
            <div class="uv-label">UV</div>
            <div class="ir-label">IR</div>
        </div>
    </div>

    <div class="intensity-slider-container">
        <div class="intensity-slider"></div>
        <span class="intensity-value"></span>
    </div>
</div>

<div class="sim-controls-wrapper">
    <div class="sim-controls-left">
        <div class="sim-controls options-panel">
            <h2>Options</h2>

            <div class="target-select-wrapper">
                <label>Target Material</label>
                <select id="target-material">
                <% _.each(targetMaterials, function(material, index) { %>
                    <option value="<%= index %>"><%= material %></option>
                <% }) %>
                </select>
            </div>

            <ul class="checkboxes">
                <li>
                    <input type="checkbox" class="high-energy" id="high-energy">
                    <label for="high-energy">Show only highest energy photons</label>
                </li>
            </ul>
        </div>
    </div>
    <div class="sim-controls-right">
        <div class="sim-controls graphs-panel">
            <h2>Graphs</h2>

            <ul class="checkboxes">
                <li>
                    <input type="checkbox" class="current-vs-voltage" id="current-vs-voltage">
                    <label for="current-vs-voltage">Current vs<br> Battery Voltage</label>
                </li>
                <li>
                    <input type="checkbox" class="current-vs-intensity" id="current-vs-intensity">
                    <label for="current-vs-intensity">Current vs<br> Light Intensity</label>
                </li>
                <li>
                    <input type="checkbox" class="energy-vs-frequency" id="energy-vs-frequency">
                    <label for="energy-vs-frequency">Electron Energy vs<br> Light Frequency</label>
                </li>
            </ul>
        </div>
    </div>
</div>


<div class="playback-controls-wrapper">
    <div class="playback-center-buttons-wrapper">
        <button class="playback-btn play-btn"   title="Resume"><span class="fa fa-play"></span></button>
        <button class="playback-btn pause-btn"  title="Pause"><span class="fa fa-pause"></span></button>
        <button class="playback-btn step-btn"   title="Step"><span class="fa fa-step-forward"></span></button>
    </div>
</div>
