@import "variables.less";
@import "mixins.less";

.sims .sim-content {
    min-height: initial;
}

.sim-content > .sim-view {
    background: url(http://subtlepatterns.com/patterns/dark_embroidery.png);
    border-top: 1px solid darken(@link-color, 15%);
    height: (@scene-height + 1);

    @media screen and (max-height: @short-window) {
        height: (@short-scene-height + 1);
    }
}

.hello-world {
    position: absolute;
    top: 44%;
    width: 100%;
    text-align: center;
    font-size: 26px;
    color: white;
}