@import "variables.less";
@import "mixins.less";

.sims .sim-content {
    min-height: inherit;
}

.sim-content > .sim-view {
    background: url(../img/dark-embroidery.png);
    border-top: 1px solid darken(@link-color, 15%);
    height: (@scene-height + 1);

    @media screen and (max-height: @short-window) {
        height: (@short-scene-height + 1);
    }
}

.sim-controls {
    .white-panel();
    padding: @panel-padding;
    position: relative;
    margin-bottom: 12px;

    h2 {
        font-size: 16px;
        font-weight: 400;
        color: fadeout(#222, 35%);
        margin-top: 0;
        margin-bottom: 8px;
        padding-bottom: 4px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.09);

        @media screen and (max-height: @short-window) {
            margin-top: -2px;
            margin-bottom: 6px;
        }
    }

    h2:not(:first-child) {
        margin-top: 20px;

        @media screen and (max-height: @short-window) {
            margin-top: 14px;
        }
    }

    label {
        color: #222;
    }

    ul.radio, ul.checkbox {
        list-style: none;
        padding: 0;
        margin: 0;
        margin-top: 8px;
        margin-bottom: 6px;

        li {
            text-align: left;
            list-style-image: none;

            label{
                font-weight: bold;
            }
        }
    }

    .slider-header {
        margin-top: 18px;
        margin-bottom: -10px;

        &:first-child {
            margin-top: 0;
        }

        .slider-value {
            float: right;
        }
    }

    .bootstrap-select {
        margin-top: 2px;
        background-color: transparent;
        border-color: transparent;

        > .btn {
            .sim-controls-button();
        }

        &.open > .dropdown-toggle.btn-default {
            background: fadeout(#fff, 30%);
            border-color: #fff;
        }

        a {
            text-transform: capitalize;
        }

        a:focus {
            outline: none;
        }
    }

    .bootstrap-select.open > .btn {
        .box-shadow(none);
    }

    .btn {
        .sim-controls-button();

        &:hover {
            background: fadeout(#fff, 60%);
            border-color: fadeout(#fff, 80%);
        }

        &:active {
            background: fadeout(#fff, 30%);
            border-color: #fff;
        }
    }

    .change-object-btn {
        width: 100%;
    }

    input[type="radio"] + label:before, 
    input[type="checkbox"] + label:before {
        background: rgba(255, 255, 255, 0.18);
    }

    .slider .noUi-background {
        background: #c2c2c2;
    }

}

.sim-controls-wrapper {
    @media screen and (max-height: @short-window) {
        position: absolute;
        right: @short-screen-panel-margin;
        top: @short-screen-panel-margin;
    }
}

.sim-controls.visual-options {
    width: @visual-options-width;
    position: absolute;
    right: @panel-margin;
    top: @panel-margin;

    @media screen and (max-height: @short-window) {
        width: @short-screen-panel-width;
        position: relative;
        top: auto;
        right: auto;
    }
}

.sim-controls.lens-properties {
    position: absolute;
    top: @panel-margin;
    right: (@visual-options-width + @panel-margin * 2);
    width: @lens-properties-panel-width;

    @media screen and (max-height: @short-window) {
        width: @short-screen-panel-width;
        position: relative;
        margin-top: @short-screen-panel-margin;
        top: auto;
        right: auto;
    }

    .slider-wrapper {
        float: left;
        width: ((@lens-properties-panel-width - @panel-padding * 2 - @lens-slider-spacing * 2) / 3);
        margin-right: @lens-slider-spacing;
        margin-top: 2px;
        margin-bottom: -8px;

        &:last-child {
            margin-right: 0;
        }

        @media screen and (max-height: @short-window) {
            float: none;
            margin-right: 0;
            margin-bottom: 16px;
            width: auto;

            &:last-child {
                margin-bottom: -8px;
            }

            label {
                font-size: 12px;
            }
        }
    }
}

.help-btn-wrapper {
    position: absolute;
    top: -36px;
    right: 30px;
    .user-select(none);

    > .help-btn {
        background: @gray-lightest;
        color: @link-color;
        outline: none;
        border: none;
        border-radius: 50%;
        width: 28px;
        height: 28px;
        text-align: center;

        &:active, &:active:hover, &.active {
            background: @link-color;
            color: #fff;
        }

        &.active:hover{
            background: fade(@link-color, 75%);
        }

        &:hover {
            opacity: 0.9;
        }

        .fa-question {
            padding-right: 2px;
        }
    }
}