@import "../../node_modules/bootstrap/less/variables.less"; // Bootstrap Variables
@import "../../node_modules/font-awesome/less/variables.less"; // Font-Awesome Variables
@import "../../../common/styles/variables.less";

@panel-margin: 20px;
@short-screen-panel-margin: 12px;

@scene-height: 650px;
@short-scene-height: 462px;