@import "../../node_modules/bootstrap/less/variables.less"; // Bootstrap Variables
@import "../../node_modules/font-awesome/less/variables.less"; // Font-Awesome Variables
@import "../../../common/styles/variables.less";

@panel-margin: 20px;
@panel-padding: 15px;
@short-screen-panel-margin: 12px;

@scene-height: 650px;
@short-scene-height: 462px;

@visual-options-width: 174px;
@short-screen-panel-width: 190px;
@lens-properties-panel-width: (960px - @visual-options-width - @panel-margin * 3);
@lens-slider-spacing: 36px;