@import "mixins.less";
@import "variables.less";

#sim-hydrogen-atom {
    .scene-view {
        width: 100%;
        height: @scene-height;

        #gradient.vertical(@link-color; #131D35; 0%; 30%);

        @media screen and (max-height: @short-window) {
            height: @short-scene-height;
        }
    }

    .scene-view-ui {
        .debroglie-view-mode-wrapper {
            position: absolute;
            left: 364px;
            top: 25px;
            width: 140px;

            @media screen and (max-height: @short-window) {
                top: (25px - (@panel-margin - @short-screen-panel-margin));
                left: 416px;
            }

            .bootstrap-select {
                background-color: transparent;
                border-color: transparent;
                width: 100% !important;

                > .btn {
                    background: fadeout(#fff, 60%);
                    border-color: rgba(0, 0, 0, 0.1);
                    color: #fff;

                    &:focus {
                        outline: none !important;
                    }

                    &:active {
                        .box-shadow(none);
                    }
                }

                a:focus {
                    outline: none;
                }
            }
        }
    }
}