@import "../../node_modules/bootstrap/less/mixins/vendor-prefixes.less";
@import "../../../common/styles/variables.less";
@import "../../../common/styles/mixins/vendor-prefixes.less";
@import "../../../common/styles/mixins/buttons.less";

.text-button(@font-weight: bold) {
    background: transparent;
    padding: 0;
    opacity: 0.8;
    font-weight: @font-weight;

    &:focus {
        outline: none;
        color: inherit;
    }

    &:hover {
        color: inherit;
        opacity: 1;
    }

    &:active {
        color: inherit;
        .box-shadow(none);
    }
}

.btn-zoom-in,
.btn-zoom-out,
.btn.btn-zoom-in,
.btn.btn-zoom-out {
    .text-button(normal);

    > .fa {
        position: relative;
        font-size: 20px;

        > .fa {
            font-size: 10px;
            position: absolute;
            top: 5px;
            left: 4px;
        }
    }
}

.panel(@shadow-alpha: 0.13, @background-fade-percent: 22%) {
    background: fadeout(#A1C1D2, @background-fade-percent);
    box-shadow: 0 0 11px rgba(0, 0, 0, @shadow-alpha);
}