@import "../../node_modules/bootstrap/less/variables.less"; // Bootstrap Variables
@import "../../node_modules/font-awesome/less/variables.less"; // Font-Awesome Variables
@import "../../../common/styles/variables.less";

@panel-margin: 20px;
@panel-bg: @gray-lightest;
@btn-bg: #ccc;
@btn-fg: @link-color;

@short-scene-height: 405px;

@sim-controls-panel-width: 180px;