@import "../../node_modules/bootstrap/less/variables.less"; // Bootstrap Variables
@import "../../node_modules/font-awesome/less/variables.less"; // Font-Awesome Variables
@import "../../../common/styles/variables.less";

@panel-margin: 20px;
@panel-bg: @gray-lightest;
@btn-bg: #ccc;
@btn-fg: @link-color;

@short-scene-height: 412px;
@short-screen-panel-margin: 12px;

@sim-controls-panel-width: 180px;

@atmosphere-today-color:   #B02A00;
@atmosphere-1750-color:    #AD6200;
@atmosphere-ice-age-color: #2049AE;