<fieldset class="panel-fieldset sound-volume-controls">
	<!-- <legend>Audio</legend> -->

	<input type="checkbox" id="sound-check-<%= unique %>" class="sound-check">
	<label for="sound-check-<%= unique %>">Sound</label><br>

	<label for="sound-volume-<%= unique %>" class="slider-label">Volume</label>
	<div class="sound-volume-slider-wrapper">
		<div class="slider sound-volume" id="sound-volume-<%= unique %>"></div>
		<span class="fa fa-volume-off"></span>
		<span class="fa fa-volume-down"></span>
		<span class="fa fa-volume-up"></span>
	</div>
</fieldset>