
.control-panel {
	z-index: @above-canvas;
	
	width: @control-panel-width;
	position: absolute;
	right: 0;
	top: 20px;
	margin: 0;
	padding: 0;

	@media screen and (max-height: @short-window) {
        top: @short-screen-panel-margin;
        right: @short-screen-panel-margin;
    }

	> .control-panel-tabs {
		width: 100%;
		background-color: @gray-lightest;

	}

	> .panel-content-wrapper {
		
		> .panel-content {
			display: none;

			&.active {
				display: block;
			}
		}
	}

	.btn.panel-btn {
		color: @brand-primary;
		font-weight: bold;
		position: relative;
		border-radius: 0;

		&:hover {
			color: @brand-primary;
			opacity: 0.9;
		}

		&:active {
			color: #fff;
			background-color: @brand-primary;
			.box-shadow(none);
		}

		.animated-button(panel-btn-clicked);

		&:focus {
			outline: none;
		}
	}
}

.panel-fieldset,
.panel-btn {
	width: 100%;
	background-color: @gray-lightest;
	margin-top: 2px;
	padding: 14px 16px;
	.user-select(none);
}

.panel-btn {
	padding: 11px 16px;
}

.wave-properties {
	position: absolute;
	top: 480px;
	left: 0px;
	width: auto;
	padding: 16px;
	min-width: 160px;
	margin: 0;

	@media screen and (max-height: @short-window) {
        top: 290px;
        left: @short-screen-panel-margin;
        
        .slider {
        	margin-top: 2;

        	&:last-child {
        		margin-bottom: 2px;
        	}
        }
    }
}

// For the tools/properties panel
// Should be identical to tabs found in ".media-tabs" in webview

.panel-tabs {
	display: block;
	color: @brand-primary;

	> ul {
		margin: 0;
		padding: 0;
		text-align: center;
		font-size: 0;
		list-style-type: none;
		color: @link-color;

		> li {
			display: block;
			padding: 7px 10px;
			margin-right: 3px;
			//margin-bottom: 3px;
			font-size: 1.5rem;
			background-color: @gray-lightest;
			cursor: pointer;
			.user-select(none);

			> .tab-title {
				margin-left: 2px;
				vertical-align: middle;

				.fa {
					margin-right: 5px;
					font-size: 1.6rem;
					vertical-align: middle;
				}

				&::after {
					font-weight: bold;
					margin-left: 5px;
					vertical-align: top;
					content: "+";
				}
			}

			&.active > .tab-title::after {
				content: "\2212"; // &minus; (−)
			}

			&:not(.active) {
				background: lighten(@gray-lightest, 5%);
				//#gradient.vertical(#fff; lighten(@gray-lightest, 5%); 0%; 100%);
			}

			&:first-child {
				margin-left: 0;
			}

			&:last-child {
				margin-right: 0;
			}

			&.tools-tab {
				width: ((@control-panel-width - 3) * 0.47);
				float: left;
			}

			&.properties-tab {
				width: ((@control-panel-width - 3) * 0.53);
				float: right;
			}
		}
	}

	> div {
		display: none;
		background-color: white;
	}
}

label {
	.transition(~"color 450ms ease");
}

label.slider-label {
	display: block;
}

label[disabled] {
	color: #B8B8B8;
}
