@import "variables.less";
@import "mixins.less";

.cross-section-graph-view {
	.grid-view(graph, @heatmap-container-width, @cross-section-graph-height, @heatmap-container-padding);
	.cross-section-graph();
}

.light-cross-section-graph-view {
	.grid-view(graph, (@heatmap-container-width + @panel-margin + @heatmap-container-padding), @cross-section-graph-height, @heatmap-container-padding,
	           @right-padding: (@heatmap-container-padding + @panel-margin + @heatmap-container-padding));
	.cross-section-graph();

	> .light-cross-section-graph-controls {
		position: absolute;
		left: 100%;
		margin-left: -(@heatmap-container-padding + @panel-margin + @heatmap-container-padding);
		top: 70px;
		padding: 9px;
	}
}

.cross-section-graph() {
	position: relative;
	margin-top: @panel-margin;
	.transition(~"height 400ms");
	overflow: hidden;

	&.landscape {
		height: @heatmap-container-padding;
	}

	&.open {
		@media (min-width: @max-viewport-width) {
			height: @cross-section-graph-height;
		}
		height: auto;
	}

	&.closed {
		.transition(~"height 200ms");
	}

	&.initial {
		.transition(~"height 0s");
	}

	> .graph-show-button {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: @heatmap-container-padding;
		line-height: (@heatmap-container-padding + 2);
		font-weight: bold;
		padding: 0;
		background-color: @gray-lightest;
		color: @link-color;
		border-radius: 0;
		z-index: 50;

		&:hover {
			color: fadeout(@link-color, 15%);
			background-color: lighten(@gray-lightest, 0.5%);
		}

		&:active {
			color: #fff;
			background-color: @brand-primary;
			.box-shadow(none);
		}

		&.reenabled {
			.animation-name(graph-show-btn);
			.animation-duration(200ms);
			.animation-timing-function(ease);
			.animation-fill-mode(forwards);
		}

		.animated-button(graph-show-btn-clicked, 400ms);

		> .fa {
			margin-right: 10px;
		}
	}

	> .graph-hide-button {
		position: absolute;
		top: 5px;
		left: 3px;
		background: transparent;
		color: #888;
		display: none;
		z-index: 50;

		&:hover {
			color: #555;
		}

		&:active {
			color: #444;
			.box-shadow(none);
			text-shadow: 0 0 6px #ccc;
		}
	}

	> .graph-canvas-wrapper {
		&.changing {
			border: 2px solid @link-color;
			width:  (@heatmap-container-width    - (@heatmap-container-padding * 2) + 2);
			height: (@cross-section-graph-height - (@heatmap-container-padding * 2) + 2);
			.transform(translateX(-1px) translateY(-1px));
		}

		> .graph-canvas {
			background-color: #fff;
		}
	}	

	> .graph-y > .graph-axis-label {
		margin-left: 20px;
	}
}