@import "variables.less";
@import "mixins.less";

.measuring-tape-view {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 200;
	.transform-origin(left center);

	> .measuring-tape {
		position: absolute;
		top: 0;
		left: 0;
		border-top: 2px dotted #000;

		.transform-origin(left center);

		> .measuring-tape-handle {
			height: 20px;
			width: 20px;
			position: absolute;
			top: 0;
			margin-top: -11px;
			border-radius: 50%;
			cursor: crosshair;

			&.dragging {
				//background-color: fadeout(@link-color, 50%);
				background-color: fadeout(darken(@gray-lightest, 3%), 30%);

				&:before,
				&:after {
					border-color: @link-color;
				}
			}

			&:before {
				content: '';
				display: block;
				position: absolute;
				left: 3px;
				right: 3px;
				top: 50%;
				margin-top: -1px;
				border-top: 2px solid #000;
			}

			&:after {
				content: '';
				display: block;
				position: absolute;
				top: 3px;
				bottom: 3px;
				left: 50%;
				margin-left: -1px;
				border-left: 2px solid #000;
			}
		}

		> .measuring-tape-handle-start {
			left: -10px;
		}

		> .measuring-tape-handle-end {
			right: -10px;
		}

		&:before,
		&:after {
			content: '';
			display: block;
			position: absolute;
			height: 8px;
			left: 0;
			right: 0;
		}

		&:before {
			bottom: 1px;
		}

		&:after {
			top: 1px;
		}
	}

	> .measuring-tape-label {
		position: absolute;
		top: 12px;
		left: 0;
		padding: 4px 8px;
		background-color: fadeout(darken(@gray-lightest, 3%), 30%);
		white-space: nowrap;
		z-index: 201;

		.animation-name(measuring-tape-create);
		.animation-duration(800ms);
		.animation-timing-function(cubic-bezier(.44,.02,.81,.26));
	}

	&.dragging > .measuring-tape {
		border-color: @link-color;

		> .measuring-tape-handle {
			&:before,
			&:after {
				border-color: @link-color;
			}
		}
	}
}

.keyframes(measuring-tape-create, {
	background: @link-color;
	color: #fff;
	//.transform(rotate(-180deg) scale(0, 0));
},{
	background: fadeout(darken(@gray-lightest, 3%), 30%);
	color: #000;
	//.transform(rotate(0) scale(1, 1));
});