@import "variables.less";
@import "mixins.less";

@import "control-panel.less";

.sim-view {
	height: 100%;
	width: 100%;

	&.rendering {
		position: absolute;
		left: 0;
		top: 0;
	}
}

@btn-bg: #ccc;
@btn-fg: @link-color;
@panel-bg: @gray-lightest;

.playback-controls-wrapper {
	position: absolute;
	top: 617px;
	left: 0;
	height: 62px;
	width: 160px;
	padding: 10px;
	text-align: center;
	background: @panel-bg;

	> .playback-btn {
		display: inline-block;
		background: @btn-bg;
		color: @link-color;
		outline: none;
		border: none;
		border-radius: 50%;
		width: 28px;
		height: 28px;
		text-align: center;

		&:hover {
		    opacity: 0.9;
		}

		&:active {
		    background: @link-color;
		    color: #fff;
		}

		.sim-view.playing &.play-btn {
			display: none;
		}
		.sim-view:not(.playing) &.pause-btn {
			display: none;
		}

		&.play-btn,
		&.pause-btn {
		    width: 42px;
		    height: 42px;
		    font-size: 16px;
		}

		&.play-btn {
		    padding-left: 10px;
		}
		
	}
}

.heatmap-column {
	position: relative;
	padding: @panel-margin;

	@media (min-width: @max-viewport-width) {
		height: 680px;
		margin: 0 auto;
	}

	@media (min-width: @screen-sm-min) {
		margin-left: 160px;
		margin-right: @control-panel-width;
	}

	// @media (min-width: @screen-sm-min) {
	// 	width: 100%;
	// }
}