<h2>Lamp Controls</h2>

<div class="intensity-slider-container">
    <label class="slider-header"><span class="intensity-title">Intensity</span> <span class="slider-value intensity-value">0%</span></label>
    <div class="intensity-slider-wrapper">
        <div class="slider intensity-slider"></div>
    </div>
</div>

<div class="wavelength-slider-container">
    <label class="slider-header">Wavelength <span class="slider-value wavelength-value">400nm</span></label>
    <div class="wavelength-slider-wrapper"></div>
</div>