
<span class="scene-view-placeholder"></span>

<div class="sim-controls-wrapper">
    <div class="sim-controls-right">
        <div class="sim-controls legend-panel">
            <h2>Legend</h2>

            <div class="legend">
                <div class="legend-symbol">
                    <div class="legend-img-wrapper">
                        <img src="<%= Assets.Image(Assets.Images.SPHERE) %>" width="24" height="24">
                    </div>
                    <span>Atom</span>
                </div>
                <div class="legend-symbol">
                    <div class="legend-img-wrapper">
                        <img src="<%= Assets.Image(Assets.Images.SPHERE) %>" width="24" height="24">
                    </div>
                    <span>Photon</span>
                </div>
            </div>
        </div>

        <div class="sim-controls one-atom-options-panel">
            <h2>Options</h2>

            <label>Energy Levels</label>
            <select class="energy-levels">
                <option value="2">Two Levels</option>
                <option value="3">Three Levels</option>
            </select>

            <label class="three-level-options">Lamp View</label>
            <select class="energy-levels three-level-options">
                <option value="photons">Photons</option>
                <option value="beam">Beam</option>
            </select>

            <label class="three-level-options">Lower Transition</label>
            <select class="lower-transition three-level-options">
                <option value="photons">Photons</option>
                <option value="wave">Wave View</option>
            </select>

            <ul class="checkboxes">
                <li>
                    <input type="checkbox" class="enable-mirrors-check" id="enable-mirrors-check-<%= unique %>">
                    <label for="enable-mirrors-check-<%= unique %>">Enable mirrors</label>
                </li>
            </ul>

            <div class="mirror-options">
                <label class="slider-header"><span class="reflectivity-title">Mirror Reflectivity</span> <span class="slider-value reflectivity-value">100%</span></label>
                <div class="reflectivity-slider-wrapper">
                    <div class="slider reflectivity-slider"></div>
                </div>
            </div>

            <ul class="checkboxes three-level-options">
                <li class="three-level-option">
                    <input type="checkbox" class="display-emitted-photons-check" id="display-emitted-photons-check-<%= unique %>">
                    <label for="display-emitted-photons-check-<%= unique %>">Display photons emitted from upper energy state</label>
                </li>
            </ul>
        </div>
    </div>
    <div class="sim-controls-right">
        
    </div>
</div>

