
<span class="scene-view-placeholder"></span>

<div class="sim-controls-wrapper">
    <div class="sim-controls-right">
        <div class="sim-controls legend-panel">
            <h2>Legend</h2>

            <div class="legend">
                <div class="legend-symbol">
                    <div class="legend-img-wrapper">
                        <img src="<%= Assets.Image(Assets.Images.SPHERE) %>" width="24" height="24">
                    </div>
                    <span>Atom</span>
                </div>
                <div class="legend-symbol">
                    <div class="legend-img-wrapper">
                        <img src="<%= Assets.Image(Assets.Images.SPHERE) %>" width="24" height="24">
                    </div>
                    <span>Photon</span>
                </div>
            </div>
        </div>

        <div class="sim-controls one-atom-options-panel">
            <h2>Energy Levels</h2>
            <ul class="radios">
                <li>
                    <input type="radio" name="energy-levels-<%= unique %>" value="2" class="energy-levels" id="energy-levels-2-<%= unique %>" checked>
                    <label for="energy-levels-2-<%= unique %>">Two</label>
                </li>
                <li>
                    <input type="radio" name="energy-levels-<%= unique %>" value="3" class="energy-levels" id="energy-levels-3-<%= unique %>">
                    <label for="energy-levels-3-<%= unique %>">Three</label>
                </li>
            </ul>

            <h2 class="three-level-options">Lamp View</h2>
            <ul class="radios three-level-options">
                <li>
                    <input type="radio" name="lamp-view-<%= unique %>" value="photons" id="lamp-view-photons-<%= unique %>" checked>
                    <label for="lamp-view-photons-<%= unique %>">Photons</label>
                </li>
                <li>
                    <input type="radio" name="lamp-view-<%= unique %>" value="beam" id="lamp-view-beam-<%= unique %>">
                    <label for="lamp-view-beam-<%= unique %>">Beam</label>
                </li>
            </ul>

            <h2 class="three-level-options">Lower Transition</h2>
            <ul class="radios three-level-options">
                <li>
                    <input type="radio" name="lower-transition-<%= unique %>" value="photons" id="lower-transition-photons-<%= unique %>" checked>
                    <label for="lower-transition-photons-<%= unique %>">Photons</label>
                </li>
                <li>
                    <input type="radio" name="lower-transition-<%= unique %>" value="wave" id="lower-transition-wave-<%= unique %>">
                    <label for="lower-transition-wave-<%= unique %>">Wave view</label>
                </li>
            </ul>

            <h2>Other Options</h2>
            <ul class="checkboxes">
                <li>
                    <input type="checkbox" class="enable-mirrors-check" id="enable-mirrors-check-<%= unique %>">
                    <label for="enable-mirrors-check-<%= unique %>">Enable mirrors</label>
                </li>
            </ul>

            <div class="mirror-options">
                <label class="slider-header"><span class="reflectivity-title">Mirror Reflectivity</span> <span class="slider-value reflectivity-value">100%</span></label>
                <div class="reflectivity-slider-wrapper">
                    <div class="slider reflectivity-slider"></div>
                </div>
            </div>

            <ul class="checkboxes three-level-options">
                <li class="three-level-option">
                    <input type="checkbox" class="display-emitted-photons-check" id="display-emitted-photons-check-<%= unique %>">
                    <label for="display-emitted-photons-check-<%= unique %>">Display photons emitted from upper energy state</label>
                </li>
            </ul>
        </div>
    </div>
    <div class="sim-controls-right">
        
    </div>
</div>

