<div class="playback-controls-wrapper">
	<button class="btn view-laser-picture-btn"data-toggle="modal" data-target="#picture-dialog"><span class="fa fa-picture-o"></span> View Picture of Actual Laser</button>

    <div class="playback-center-buttons-wrapper">
        <button class="playback-btn play-btn"   title="Resume"><span class="fa fa-play"></span></button>
        <button class="playback-btn pause-btn"  title="Pause"><span class="fa fa-pause"></span></button>
        <button class="playback-btn step-btn"   title="Step forward"><span class="fa fa-step-forward"></span></button>
    </div>
    
    <button class="btn btn-normal reset-btn" title="Reset All">Reset All</button>
</div>