<div class="graph-view-graph-wrapper">
	<figcaption class="graph-title"><%= title %></figcaption>

	<div class="graph-canvas-wrapper">
		<canvas class="graph-canvas"></canvas>
	</div>

	<% if (y) { %>
	<div class="graph-y">
		<label class="graph-axis-label"><%= y.label %></label>
		<div class="graph-y-numbers">
		<% var height = 100.0 / Math.ceil((y.end - y.start) / y.step); %>
		<% for (var j = y.end; j >= y.start - 0.001; j -= y.step) { %>
			<% if (y.step < 1) j = j.toFixed(2); %>
			<div class="graph-number" style="height: <%= height %>%"><span><%= y.showNumbers ? j.toFixed(y.decimalPlaces) : '' %></span></div>
		<% } %>
		</div>
	</div>
	<% } %>

	<% if (x) { %>
	<div class="graph-x">
		<label class="graph-axis-label"><%= x.label %></label>
		<div class="graph-x-numbers">
		<% var width = 100.0 / Math.ceil((x.end - x.start) / x.step); %>
		<% for (var i = x.start; i <= x.end + 0.001; i += x.step) { %>
			<div class="graph-number" style="width: <%= width %>%"><span><%= x.showNumbers ? i.toFixed(x.decimalPlaces) : '' %></span></div>
		<% } %>
		</div>
	</div>
	<% } %>
</div>