
.energy-system-elements-row {
	position: absolute;
	width: 100%;
	height: 60px;
	bottom: 0;

	.energy-system-elements-panel-wrapper {
		float: left;

		.energy-system-elements-panel {

			.energy-system-element-icon {
				float: left;
				
			}
		}

		
	}
}