@import "../../node_modules/bootstrap/less/mixins/vendor-prefixes.less";
@import "../../../common/styles/variables.less";
@import "variables.less";
@import "mixins.less";



.sim-content {
    min-height: initial !important;

    &:before {
        content: '';
        position: absolute;
        bottom: 100%;
        left: 0;
        width: 100%;
        height: 0;
        box-shadow: 0px 0px 16px 2px rgba(0, 0, 0, 0.66);
        clip: rect(0, auto, 16px, 0);
        pointer-events: none;
    }

    .scene-view {
        height: 580px;
        width: 100%;
        display: block;
        background: url(../img/added/darktiles.jpg);
    }
}

.energy-symbols-checkbox-panel {
    width: @side-panels-width;
    position: absolute;
    right: 15px;
    top: 15px;
    padding: @side-panels-padding;
    color: #000;
    .gray-panel();

    .energy-symbols-checkbox + label {
        opacity: 0.6;
    }

    .energy-symbols-checkbox:checked + label {
        opacity: 1;
    }

    .energy-symbol {
        float: right;
        margin-top: -4px;
        margin-bottom: -2px;
        margin-left: 6px;
    }
}

.energy-symbol {
    position: relative;
    display: inline-block;
    background-repeat: no-repeat;

    &:after {
        content: 'E';
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        text-align: center;
        font-size: 14px;
        color: #000;
        line-height: 23px;
    }
}