@import "../../node_modules/bootstrap/less/mixins/vendor-prefixes.less";
@import "../../../common/styles/variables.less";
@import "mixins.less";



.sim-content {

	min-height: initial;

	.scene-view {
		height: 580px;
		width: 100%;
		display: block;
		background: #fff;
	}
}