@import "../../node_modules/bootstrap/less/variables.less"; // Bootstrap Variables
@import "../../node_modules/font-awesome/less/variables.less"; // Font-Awesome Variables

@position-color: #2575BA;
@velocity-color: #CD2520;
@acceleration-color: #349E34;

@panel-margin: 20px;
