@import "../../node_modules/bootstrap/less/variables.less"; // Bootstrap Variables
@import "../../node_modules/font-awesome/less/variables.less"; // Font-Awesome Variables
@import "../../../common/styles/variables.less";

@side-panels-padding: 15px;
@panel-margin: 15px;
@short-screen-panel-margin: 13px;

@scene-height: 580px;
@short-scene-height: 401px;

@element-row-margin: 10px;

@element-symbols-checkbox-panel-width: 180px;