<div class="ball-settings-wrapper">
    <table class="ball-settings-table one-dimensional">
        <thead>
            <tr class="more-data">
                <th>Ball</th>
                <th>Mass</th>
                <th>Position</th>
                <th>Velocity</th>
                <th>Momentum</th>
                <th></th>
            </tr>
            <tr class="more-data">
                <th></th>
                <th>kg</th>
                <th>m</th>
                <th>m / s</th>
                <th>kg m / s</th>
                <th></th>
            </tr>
            <tr class="less-data">
                <th>Ball</th>
                <th>Mass</th>
                <th class="mass-slider-column"></th>
                <th></th>
            </tr>
            <tr class="less-data">
                <th></th>
                <th>kg</th>
                <th class="mass-slider-column"></th>
                <th></th>
            </tr>
        </thead>
        <tbody class="ball-setting-views">

            <tr class="add-ball-row" style="display: none">
                <td></td>
                <td colspan="4" class="more-data"><button class="add-ball-btn"><span class="fa fa-plus-circle"></span> add ball</button></td>
                <td colspan="2" class="less-data"><button class="add-ball-btn"><span class="fa fa-plus-circle"></span> add ball</button></td>
                <td></td>
            </tr>
        </tbody>
    </table>

    <button class="btn ball-settings-more-data">More Data</button>
    <button class="btn ball-settings-less-data">Less Data</button>
</div>

