<div class="ball-settings-wrapper">
    <table class="ball-settings-table two-dimensional more-data">
        <thead>
            <tr>
                <th>Ball</th>
                <th>Mass (kg)</th>
                <th colspan="2">Position (m)</th>
                <th colspan="2">Velocity (<sup>m</sup>/<sub>s</sub>)</th>
                <th colspan="2">Momentum (<sup>kg m</sup>/<sub>s</sub>)</th>
                <td></td>
            </tr>
            <tr>
                <th></th>
                <th></th>
                <th>x</th>
                <th>y</th>
                <th>v<sub>x</sub></th>
                <th>v<sub>y</sub></th>
                <th>p<sub>x</sub></th>
                <th>p<sub>y</sub></th>
                <td></td>
            </tr>
        </thead>
        <tbody class="ball-setting-views">
    
            <tr class="add-ball-row" style="display: none">
                <td></td>
                <td colspan="7"><button class="add-ball-btn"><span class="fa fa-plus-circle"></span> add ball</button></td>
                <td></td>
            </tr>
        </tbody>
    </table>

    <button class="btn ball-settings-more-data">More Data</button>
    <button class="btn ball-settings-less-data">Less Data</button>
</div>