<h2 class="title">Momenta</h2>
<div class="checkbox-wrapper">
    <input type="checkbox" class="tip-to-tail-check" id="paths-check-<%= unique %>" checked>
    <label for="paths-check-<%= unique %>">Tip-to-tail</label>
</div>
<div class="zoom-controls-wrapper">
	<button class="btn btn-zoom-in  zoom-in-x"><span class="fa fa-search"><span class="fa fa-plus"></span></span></button>
	<button class="btn btn-zoom-out zoom-out-x"><span class="fa fa-search"><span class="fa fa-minus"></span></span></button>
</div>