<div class="playback-controls-wrapper">
    <div class="playback-speed-wrapper">
        <label>Slow</label><div class="slider playback-speed"></div><label>Fast</label>
    </div>
    
    <div class="playback-center-buttons-wrapper">
        <button class="playback-btn rewind-btn" title="Rewind to beginning"><span class="fa fa-fast-backward"></span></button>
        <button class="playback-btn back-btn"   title="Step backward"><span class="fa fa-step-backward"></span></button>
        <button class="playback-btn play-btn"   title="Resume"><span class="fa fa-play"></span></button>
        <button class="playback-btn pause-btn"  title="Pause"><span class="fa fa-pause"></span></button>
        <button class="playback-btn step-btn"   title="Step forward"><span class="fa fa-step-forward"></span></button>
    </div>

    <div class="playback-time-wrapper">
        <label>Time: </label><span class="time">0.00 sec</span>
    </div>
    
    <button class="btn btn-normal reset-btn" title="Reset All">Reset All</button>
</div>