<div class="sim-controls">

    <h2>Visibility</h2>

    <ul class="checkbox visibility-controls">
        <li>
            <input type="checkbox" class="velocity-check" id="velocity-check-<%= name %>">
            <label for="velocity-check-<%= name %>">Velocity</label>
        </li>
        <li>
            <input type="checkbox" class="velocity-vector-check" id="velocity-vector-check-<%= name %>">
            <label for="velocity-vector-check-<%= name %>">Velocity Vectors</label>
        </li>
        <li>
            <input type="checkbox" class="momentum-check" id="momentum-check-<%= name %>">
            <label for="momentum-check-<%= name %>">Momentum</label>
        </li>
        <li>
            <input type="checkbox" class="momentum-vector-check" id="momentum-vector-check-<%= name %>">
            <label for="momentum-vector-check-<%= name %>">Momentum Vectors</label>
        </li>
        <li>
            <input type="checkbox" class="center-of-mass-check" id="center-of-mass-check-<%= name %>">
            <label for="center-of-mass-check-<%= name %>">Center of Mass</label>
        </li>
        <li>
            <input type="checkbox" class="momenta-diagram-check" id="momenta-diagram-check-<%= name %>">
            <label for="momenta-diagram-check-<%= name %>">Momenta Diagram</label>
        </li>
        <li>
            <input type="checkbox" class="kinetic-energy-check" id="kinetic-energy-check-<%= name %>">
            <label for="kinetic-energy-check-<%= name %>">Kinetic Energy</label>
        </li>
    </ul>

    <h2 class="slider-header">Elasticity <span class="elasticity">100%</span></h2>

    
    <div class="elasticity-slider-wrapper">
        <label>Inelastic</label><div class="slider elasticity-slider"></div><label>Elastic</label>
    </div>
    
</div>