<div class="sim-controls">

    <h2>Visibility</h2>

    <ul class="checkbox visibility-controls">
        <li>
            <input type="checkbox" class="velocity-check">
            <label for="velocity-check">Velocity</label>
        </li>
        <li>
            <input type="checkbox" class="velocity-vector-check">
            <label for="velocity-vector-check">Velocity Vectors</label>
        </li>
        <li>
            <input type="checkbox" class="momentum-check">
            <label for="momentum-check">Momentum</label>
        </li>
        <li>
            <input type="checkbox" class="momentum-vector-check">
            <label for="momentum-vector-check">Momentum Vectors</label>
        </li>
        <li>
            <input type="checkbox" class="center-of-mass-check">
            <label for="center-of-mass-check">Center of Mass</label>
        </li>
        <li>
            <input type="checkbox" class="momenta-diagram-check">
            <label for="momenta-diagram-check">Momenta Diagram</label>
        </li>
        <li>
            <input type="checkbox" class="kinetic-energy-check">
            <label for="kinetic-energy-check">Kinetic Energy</label>
        </li>
    </ul>

    <h2>Elasticity <span class="elasticity"></span></h2>

    <div class="slider elasticity-slider"></div>
    
</div>