@import "../../node_modules/bootstrap/less/mixins/vendor-prefixes.less";
@import "../../../common/styles/variables.less";
@import "../../../common/styles/mixins/vendor-prefixes.less";
@import "../../../common/styles/mixins/buttons.less";

.text-button(@font-weight: bold) {
    background: transparent;
    padding: 0;
    opacity: 0.8;
    font-weight: @font-weight;

    &:focus {
        outline: none;
        color: inherit;
    }

    &:hover {
        color: inherit;
        opacity: 1;
    }

    &:active {
        color: inherit;
        .box-shadow(none);
    }
}

.white-panel(@shadow-alpha: 0.25, @background-fade-percent: 80%) {
    background: fadeout(#fff, @background-fade-percent);
    box-shadow: 0 0 11px rgba(0, 0, 0, @shadow-alpha);
}

.header() {
    font-size: 18px;
    font-weight: 400;
    color: rgba(51, 51, 51, 0.8);
    margin-top: 0;
    margin-bottom: 7px;
}