@import "variables.less";
@import "mixins.less";

.sims .sim-content {
    min-height: inherit;
}

.control-panel {
    background: @panel-bg;
    padding: @panel-padding;
    width: @control-panel-width;
    .user-select(none);

    input.form-control {
        background: rgba(255, 255, 255, 0.27);
        border-color: rgba(0, 0, 0, 0.1);
        position: relative;
    }

    h2 {
        .header();
        padding-bottom: 4px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.09);
    }

    h2:not(:first-child) {
        margin-top: 18px;
    }

    > .btn-add,
    > .btn-remove {
        position: absolute;
        top: 100%;
        margin-top: 4px;
        width: (@control-panel-width / 2 - 2);
        background: fadeout(#fff, 60%);
        color: @link-color;
        box-shadow: none;
        border-radius: 0;

        font-weight: bold;

        &:focus {
            outline: none;
        }

        &:hover {
            background: fadeout(#fff, 40%);
            color: @link-color;
        }

        &:active {
            margin-top: 5px;
            box-shadow: none;
            color: @link-color;
        }
    }

    > .btn-add {
        left: 0;
    }

    > .btn-remove {
        right: 0;
    }

    .control-group {
        margin-top: 10px;

        label {
            float: left;
            width: 68%;
            padding-right: 6px;
            line-height: 34px;
            text-align: right;
        }

        .input-wrapper {
            float: left;
            width: 32%;
            padding-right: 0;
        }
    }

}

.particle-panel {
    position: absolute;
    top: @panel-margin;
    right: @panel-margin;
}
