<div class="playback-controls-wrapper">
    <div class="playback-center-buttons-wrapper">
        <button class="playback-btn play-btn"   title="Resume"><span class="fa fa-play"></span></button>
        <button class="playback-btn pause-btn"  title="Pause"><span class="fa fa-pause"></span></button>
        <button class="playback-btn step-btn"   title="Step forward"><span class="fa fa-step-forward"></span></button>
    </div>

    <div class="nuclei-fissioned-wrapper">
        <label><div class="u-235-fissioned-img-wrapper"><img src="<%= uranium235Img %>"></div>Nuclei fissioned</label> <span class="value" id="u-235-fissioned">0.00%</span>
    </div>
    
    <button class="btn btn-normal reset-btn" title="Reset">Reset</button>
</div>