
<span class="scene-view-placeholder"></span>

<div class="sim-controls-wrapper">
    <div class="sim-controls-right">
        <div class="sim-controls legend-panel">
            <h2>Legend</h2>
        </div>

        <div class="sim-controls energy-graphs-panel">
            <h2>Energy Graphs</h2>

            <div class="graphs-wrapper">
                <div class="graph-wrapper" id="power-graph">
                    <div class="graph-background"><div class="graph-bar" id="power-bar"></div></div>
                    <label class="graph-axis-label">joules/sec</label>
                    <label class="graph-title">Power Output</label>
                </div>
                <div class="graph-wrapper" id="energy-graph">
                    <div class="graph-background"><div class="graph-bar" id="energy-bar"></div></div>
                    <label class="graph-axis-label">joules</label>
                    <label class="graph-title">Energy Produced</label>
                </div>
            </div>
        </div>
    </div>
</div>