<div class="sim-controls circuits-panel">
    <h2>
        Circuits
        <span class="expand-icon"><span class="fa fa-chevron-down"></span></span>
        <span class="collapse-icon"><span class="fa fa-chevron-up"></span></span>
    </h2>

    <ul class="radios circuits">
    <% _.each(circuitLabels, function(circuitLabel, i){ %>
        <li>
            <input type="radio" name="circuit" value="<%= i %>" id="circuit-<%= i %>" <% if (i === 0) { %>checked="checked"<% } %>>
            <label  for="circuit-<%= i %>"><%= circuitLabel %></label>
        </li>
    <% }); %>
    </ul>
</div>