<div class="sim-controls dielectric-options">
    <h2>Dielectric</h2>

    <div class="dielectric-material-wrapper">
        <label>Material</label>
        <select class="dielectric-material">
        <% _.each(materials, function(material, i){ %>
            <option value="<%= i %>"><%= material.label %></option>
        <% }); %>
        </select>
    </div>

    <ul class="radios dielectric-charge-options">
        <li>
            <input type="radio" name="dielectric-charge" value="hide" class="hide-all-charges" id="hide-all-charges-<%= unique %>">
            <label for="hide-all-charges-<%= unique %>">Hide all charges</label>
        </li>
        <li>
            <input type="radio" name="dielectric-charge" value="show-all" class="show-all-charges" id="show-all-charges-<%= unique %>">
            <label for="show-all-charges-<%= unique %>">Show all charges</label>
        </li>
        <li>
            <input type="radio" name="dielectric-charge" value="show-excess" class="show-excess-charges" id="show-excess-charges-<%= unique %>">
            <label for="show-excess-charges-<%= unique %>">Show excess charges</label>
        </li>
    </ul>
</div>