<div class="sim-controls meters-panel">
    <h2>Meters</h2>

    <ul class="checkboxes meters">
        <li>
            <input type="checkbox" class="capacitance-chart-check" id="capacitance-chart-check-<%= unique %>">
            <label for="capacitance-chart-check-<%= unique %>">Capacitance</label>
        </li>
        <li>
            <input type="checkbox" class="plate-charge-chart-check" id="plate-charge-chart-check-<%= unique %>">
            <label for="plate-charge-chart-check-<%= unique %>">Plate Charge</label>
        </li>
        <li>
            <input type="checkbox" class="stored-energy-chart-check" id="stored-energy-chart-check-<%= unique %>">
            <label for="stored-energy-chart-check-<%= unique %>">Stored Energy</label>
        </li>
        <li>
            <input type="checkbox" class="voltmeter-check" id="voltmeter-check-<%= unique %>">
            <label for="voltmeter-check-<%= unique %>">Voltmeter</label>
        </li>
        <li>
            <input type="checkbox" class="electric-field-detector-check" id="electric-field-detector-check-<%= unique %>">
            <label for="electric-field-detector-check-<%= unique %>">Electric Field Detector</label>
        </li>
    </ul>
</div>