<div class="sim-controls meters-panel">
    <h2>
        Meters
        <span class="expand-icon"><span class="fa fa-chevron-down"></span></span>
        <span class="collapse-icon"><span class="fa fa-chevron-up"></span></span>
    </h2>

    <ul class="checkboxes meters">
        <li>
            <input type="checkbox" class="capacitance-meter-check" id="capacitance-meter-check-<%= unique %>">
            <label for="capacitance-meter-check-<%= unique %>">Capacitance</label>
        </li>
        <li>
            <input type="checkbox" class="plate-charge-meter-check" id="plate-charge-meter-check-<%= unique %>">
            <label for="plate-charge-meter-check-<%= unique %>">Plate Charge</label>
        </li>
        <li>
            <input type="checkbox" class="stored-energy-meter-check" id="stored-energy-meter-check-<%= unique %>">
            <label for="stored-energy-meter-check-<%= unique %>">Stored Energy</label>
        </li>
        <li>
            <input type="checkbox" class="voltmeter-check" id="voltmeter-check-<%= unique %>">
            <label for="voltmeter-check-<%= unique %>">Voltmeter</label>
        </li>
        <li>
            <input type="checkbox" class="electric-field-detector-check" id="electric-field-detector-check-<%= unique %>">
            <label for="electric-field-detector-check-<%= unique %>">Electric Field Detector</label>
        </li>
    </ul>
</div>